/* reset */

body, h1, h2, h3, h4, h5, h6, hr, p, dl, dt, dd, ul, ol, li, form, fieldset, legend, button, input, textarea, th, td {margin:0; padding:0; }
body, button, input, select, textarea, td, th { font-family:"Microsoft Yahei","Arial"; }
h1, h2, h3, h4, h5, h6 {font-size:100%; }
img {border:0; }
table {border-collapse:collapse; }
th {font-weight:normal; }
h1, h2, h3 {font-size:100%; }
a {color:#515665; text-decoration:none; outline:none; }
a:hover {color:#515665; text-decoration:underline; }
ul {margin:0; padding:0;}
ul li {list-style:none; }
.clear {clear:both; }
input:-webkit-autofill {-webkit-box-shadow: 0 0 0px 1000px white inset;}
#cnzz_stat_icon_4528288 {
	display: none;
}

/* layout */
.main {width:100%; height:100%; min-width:1000px; max-width: 1920px; margin: 0 auto;}
.wrap {width:1000px; margin: 0 auto; zoom: 1; }
 h6   {font-weight: normal; text-align: center; font-size: 14px; line-height: 14 px; color: #fff; margin-top: 8px;}
 i    {display: block; font-style: normal;} 
 em   {font-style: normal;}

.mr20 {margin-right: 20px;}

/* banner */
.banner {
	background:url(http://img.96567.com/ad/20151211/banner1.jpg) no-repeat center top; 
	height: 848px;
	overflow: hidden;
}
.banner-top {
	background:url(../images/banner2.png) no-repeat center top; 
	height: 823px;
	margin-top: 17px;
    -webkit-animation:fadeInDown 1s .2s ease both;
    -moz-animation:fadeInDown 1s .2s ease both;
}
		@-webkit-keyframes fadeInDown{
		0%{opacity:0;
		-webkit-transform:translateY(-20px)}
		100%{opacity:1;
		-webkit-transform:translateY(0)}
		}
		@-moz-keyframes fadeInDown{
		0%{opacity:0;
		-moz-transform:translateY(-20px)}
		100%{opacity:1;
		-moz-transform:translateY(0)}
		}

/* title */
.fea-title {
	background:#8501c8 url(../images/start-bj.jpg) no-repeat top left; 
	height: 122px;
}
.fea-title {
	text-align: center;
}
.fea-title p {
	font-size: 16px;
	line-height: 30px;
	color: #fff;
}
.fea-title h2 {
	font-size: 30px;
	line-height: 30px;
	margin-top: 10px;
	color: #ff00ff;
    font-weight: bold;
}
/* ladder */
.ladder {
	background:#8501c8 url(../images/ladder-bj.jpg) no-repeat center top; 
	height: 1770px;
}

/* yellow */
.yellow {
	background:#fffd39 url(../images/show-top.jpg) no-repeat center top;
	padding: 0 0 100px;
}
.yellow h2 {
	text-align: center;
	font-size: 36px;
	color: #f90c7e;
	margin-bottom: 26px;
}
.yellow h2 em {
	margin: 0 2px;
}
.yellow .p1,
.yellow .more-btn2 {
	font-size: 24px;
	line-height: 28px;
	color: #7602c7;
    text-align: center;
    display: block;
}
.yellow .p1 {
	margin-top: 26px;
}
.yellow .more-btn2 {
    font-weight: bold;
    margin-top: 14px;
    text-decoration: none;
}
.attention {
	color: #fff;
	margin-left: 102px;
}
.attention h2 {
	background: url(../images/attention.jpg) no-repeat center left;
	height: 35px;
	color: #fff;
	font-size: 30px;
	line-height: 35px;
	text-align: left;
	text-indent: 54px;
	margin-bottom: 14px;
}
.attention p {
	font-size: 14px;
	line-height: 28px;
}
/* ladder ul */
.ladder ul {
	padding-top: 40px;
}
.ladder ul li:first-child {
	margin-top: 0;
}
.ladder ul li {
	width: 800px;
	height: 300px;
	padding: 25px 95px;
	border: 5px #910ace solid;
	position: relative;
    zoom: 1;
    margin-top: 80px;
}
.ladder .lad-img {
	width: 300px;
	height: 300px;
	margin-right: 50px;
	overflow: hidden;
	display: block;
	float: left;
}
.ladder .lad-img img {
	width: 100%;
}
.ladder .lad-text h2 {
    margin-top: 70px;
}
.ladder .lad-text h2 a {
	color: #fff;
	font-size: 30px;
	height: 30px;
	overflow: hidden;
}
.ladder .lad-text h2 a:hover {
	text-decoration: none;
}
.ladder .lad-text p a {
	height: 60px;
	overflow: hidden;
	color: #cb9fea;
	font-size: 12px;
	line-height: 20px;
	margin-top: 12px;
	display: block;
}
.ladder .free-box {
	width: 195px;
	height: 46px;
	border: 2px #ff00ff solid;
	float: left;
	position: relative;
	margin-top: 45px;
}
.ladder .free-box h3 {
	color: #ff00ff;
	font-size: 30px;
	display: block;
	background: #8501c8;
	padding: 0 14px;
	position: absolute;
	top: -16px;
	left: 16px;
    font-weight: bold;
	height: 30px;
}
.ladder .free-box p {
	font-size: 17px;
	color: #ff00ff;
	text-align: center;
	margin-top: 16px;
}
.location-top {
	position: absolute;
	top: -35px;
	left: 447px;
	border-bottom: 2px #ff58ff solid;
}
.location-top i {
	border-bottom: 3px #8501c8 solid;
	font-size: 40px;
	color: #fff;
	width: 60px;
	height: 87px;
	text-align: center;
	line-height: 87px;
	background: #ff00ff;
	display: block;
}
/* product-show */
.product-show {
	margin-top: 336px;
	clear: both;
	overflow: hidden;
}
.product-show li {
	float: left;
	width: 240px;
	height: 405px;
	background: #ececec;
	margin: 0 0 10px 10px;
}
.product-show .show1 {
	width: 240px;
	height: 240px;
	text-align: center;
	overflow: hidden;
	background: #fff;
	display: block;
}
.product-show .show1 img {
	width: 100%;
}
.product-show .show2 {
	display: block;
	padding: 0 12px;
	width: 210px;
	font-size: 14px;
	height: 44px;
	overflow: hidden;
	color: #555;
	margin: 12px 0 0;
	line-height: 22px;
}
.product-show p {
	color: #555;
	font-size: 28px;
	padding: 0 12px;
	margin-top: 14px;
}
.product-show p em {
	font-size: 16px;
}
.product-show .go-btn {
	font-size: 20px;
	font-weight: bold;
	display: block;
	width: 126px;
	height: 36px;
	border-radius: 36px;
	background: #df0ef2;
	text-align: center;
	line-height: 36px;
	color: #fff;
	margin: 10px auto 0;
}
.product-show .go-btn:hover {
	text-decoration: none;
}

.product-show li:hover {
	background: #df0ef2;
	color: #fff;
	transition: 0.3s;
	-moz-transition: 0.3s;	/* Firefox 4 */
	-webkit-transition: 0.3s;	/* Safari 和 Chrome */
	-o-transition: 0.3s;	/* Opera */
}
.product-show li:hover .show2,
.product-show li:hover p {
	color: #fff;
	transition: 0.3s;
	-moz-transition: 0.3s;	/* Firefox 4 */
	-webkit-transition: 0.3s;	/* Safari 和 Chrome */
	-o-transition: 0.3s;	/* Opera */
}
.product-show li:hover .go-btn {
	background: #fff114;
	color: #df0ef2;
	transition: 0.3s;
	-moz-transition: 0.3s;	/* Firefox 4 */
	-webkit-transition: 0.3s;	/* Safari 和 Chrome */
	-o-transition: 0.3s;	/* Opera */
}
.more-btn {
	margin: 38px auto 0;
    background:url(../images/more-btn.jpg) no-repeat bottom center; 
    width: 213px;
    height: 72px;
    text-align: center;
    line-height: 72px;
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}
.more-btn:hover {
	color: #fff;
	text-decoration: none;
}
/* icon */
.icon-circle {
	width: 14px;
	height: 14px;
	border-radius: 50%;
	border: 2px #fff solid;
	display: block;
	position: absolute;
	bottom: -30px;
	left: 62px; 
}
.circle1 {
	border: 2px #fff114 solid;
	top: -22px;
	left: 40px; 
}
.circle2 {
	border: 2px #f90c7e solid;
	bottom: -26px;
	left: 18px; 
}
.navigation {
	position: fixed;
	top: 30px;
	left: 30px;
    background:url(../images/navigation.png) no-repeat center center;
    width: 175px;
    height: 480px;
    display: none;
    -webkit-animation:bounceIn 1s .2s ease both;
    -moz-animation:bounceIn 1s .2s ease both;
}
	@-webkit-keyframes bounceIn{
	0%{opacity:0;
	-webkit-transform:scale(.3)}
	50%{opacity:1;
	-webkit-transform:scale(1.05)}
	70%{-webkit-transform:scale(.9)}
	100%{-webkit-transform:scale(1)}
	}
	@-moz-keyframes bounceIn{
	0%{opacity:0;
	-moz-transform:scale(.3)}
	50%{opacity:1;
	-moz-transform:scale(1.05)}
	70%{-moz-transform:scale(.9)}
	100%{-moz-transform:scale(1)}
	}
.navigation a:first-child {
	margin-top: 77px;
}
.navigation a {
	display: block;
	height: 166px;
}