/* reset */
html, body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input { padding: 0; margin: 0;}
h1, h2, h3, h4, h5, h6, pre, code, address, caption, cite, code, em, strong, table, th, td { font-size: 1em; font-style: normal; font-weight: normal;}
strong {font-weight: normal;}
ul, ol { list-style: none outside none;}
fieldset, img { border: medium none; vertical-align: middle;}
caption, th {  text-align: left;}
table { border-collapse: collapse; border-spacing: 0;}
body { font: 12px/20px "Microsoft Yahei"; color: #555; background: #FFF none repeat scroll 0 0; min-width: 1200px; color: #555;}
input, select, textarea { font: 12px/20px Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}
i, cite, em { font-style: normal;}
input,button,select,textarea{ outline:none}
html {min-height:101%; }
a { color: #555; text-decoration: none; outline: medium none; -webkit-transition-property:color; -webkit-transition-duration: 0.3s; -webkit-transition-timing-function: ease;}
a:link, a:visited, a:active { text-decoration: none;}
a:hover { color: #D93600; text-decoration: none;}

/* global-nav */
.global-nav{border-bottom:solid 1px #f0f0f0;background:#fafafa;color:#777!important;font-family:Arial,SimSun;line-height:20px;}
.global{height:31px;}
.global a{color:#777;}
.global .glo-entry{float:left;padding:5px 0;width:45%;height:20px;}
.global .glo-entry p{display:inline-block;}
.global .glo-entry p a{margin:0 2px;color:#333;text-decoration:none;}
.global .glo-home{float:left;padding:5px 0;width:16%;height:20px;color:#7f0019;text-align:right;font:700 12px/20px 'Microsoft YaHei';}
.global .glo-menu{float:right;width:38%;text-align:right;}
.global .glo-menu dl{position:relative;z-index:999;display:inline-block;width:80px;height:30px;vertical-align:top;text-align:left;word-spacing:normal;letter-spacing:normal; cursor: pointer;}
.global .glo-menu dl dt{position:absolute;top:0;left:12px;z-index:2;padding:5px 0;height:20px;font-size:12px;line-height:20px;}
.global .glo-menu dl dd{position:absolute;top:0;left:0;z-index:1;display:none;width:78px;border:solid 1px #F0F0F0;background-color:#FFF;}
.global .glo-menu dl dd ul{margin:30px 0 0 0;width:78px;}
.global .glo-menu dl dd ul li a{clear:both;display:block;padding:2px 0 2px 11px;font-size:12px;line-height:24px;}
.global .glo-menu dl.wechat{width:100px;}
.global .glo-menu dl.wechat dt{padding-left:20px;background:url(../../images/weixin.png) no-repeat 0 8px;}
.global .glo-menu dl.wechat dd{right:0;left:auto;padding:5px;padding-top:31px;width:auto;text-align:center;}
.global .glo-menu dl.wechat dd p{color:#F98016;text-align:center;font-size:12px;line-height:18px;}
.global .glo-menu dl.wechat dd img{margin:10px 0;max-width:96px;max-height:96px;}
.global .glo-menu dl dt i{display:inline-block;margin-left:4px;width:6px;height:3px;background:url(../../images/top_bg.png) no-repeat 0 0;vertical-align:middle;-webkit-transition:.2s ease-in;-moz-transition:-webkit-transform .2s ease-in;-o-transition:-webkit-transform .2s ease-in;transition:.2s ease-in;}
.global .glo-menu dl:hover dt i{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg);-webkit-transform-origin:50% 30%;-moz-transform-origin:50% 30%;-o-transform-origin:50% 30%;transform-origin:50% 30%;FILTER:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);}
.global .glo-menu dl:hover dd{display:block;transition:.3s;}
.global .glo-menu dl:hover dd ul li a:hover{background-color:#F7F7F7;}
.global a{text-decoration:none;}

/*serve-nav-guidance*/
.serve-nav-guidance {
	height: 60px;
	padding-top: 20px;
	border-bottom: 3px #555 solid;
}
.serve-nav-guidance .nav-logo {
	float: left;
}
.serve-nav-guidance .nav-logo .logo {
	position: relative;
	display: block;
	float: left;
	background: url(../../images/servicecenter/icon-logo.png) no-repeat;
	width: 154px;
	height: 40px;
}
.serve-nav-guidance .nav-logo .logo:after {
	position: absolute;
	top: 6px;
	right: -17px;
	display: block;
	content: '';
	width: 1px;
	height: 30px;
	background: #d5d9df;
}
.serve-nav-guidance .nav-logo .name {
	font-size: 28px;
	color: #555;
	line-height: 40px;
	margin-left: 32px;
	font-weight: bold;
}

.serve-nav-guidance .nav-items {
	float: right;
}
.serve-nav-guidance .nav-items ul {}
.serve-nav-guidance .nav-items ul li {
	float: left;
	line-height: 60px;
	margin-left: 50px;
}
.serve-nav-guidance .nav-items ul li.active {
	border-bottom: 3px #ff5757 solid;
}
.serve-nav-guidance .nav-items ul li.active a {
	color: #ff5757;
	font-weight: bold;
}
.serve-nav-guidance .nav-items ul li a {
	font-size: 18px;
	color: #555;
	display: block;
}
.serve-nav-guidance .nav-items ul li:hover a {
	color: #ff5757;
}


.serve-footer {
	padding-top: 26px;
	height: 190px;
	border-top: 3px #e9e9e9 solid;
}
.serve-footer ul {
	text-align:center;
	margin: 0 auto;
}
.serve-footer ul li {
	position: relative;
	display: inline-block;
	line-height: 14px;
	margin: 8px;
}
.serve-footer ul li:first-child:after {
	content: normal;
}
.serve-footer ul li:after {
	position: absolute;
	top: 2px;
	left: -10px;
	content: '';
	width: 2px;
	height: 11px;
	background: #747474;
}
.serve-footer ul li a {
	font-size: 14px;
	color: #555;
}
.serve-footer ul li a:hover {
	text-decoration: underline;
}
.serve-footer .copyright {
	font-size: 14px;
	clear: both;
	color: #555;
	text-align: center;
	margin-bottom: 16px;
}
.serve-footer .copyright strong {
	margin: 0 24px;
}
.serve-footer .footerbox {
	text-align: center;
	font-size: 0;
}
.serve-footer .footerbox a {
	display: inline-block;
}
.serve-footer .footerbox a img {
	width: 108px;
	height: 40px;
	margin: 0 8px;
}
.nc-grade-mini {
    font: 600 italic 12px/16px Georgia,Arial;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.25);
    color: #FFF4F4;
    background-color: #F33;
    vertical-align: middle;
    display: inline-block;
    height: 16px;
    padding: 1px 3px;
    border-radius: 2px;
}