<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <metahttp-equivmetahttp-equiv="x-ua-compatible"content="IE=7"/> 
    <title>模板消息发送列表</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> 
    <link href="{[$DIR]}css/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/hello.css">
    <link rel="stylesheet" href="static/css/plugin.css">
    <!--[if lt IE 9]>
      <script src="js/ie/respond.min.js"></script>
      <script src="js/ie/html5.js"></script>
    <![endif]-->
</head>
<body>


<!-- addition -->
<div class="col-12 text-center cmp">
     <section class="panelling clearfix deepen">
              <div class="text-left">
                   <p class="inf">发送记录</p>
              </div>
     </section>
     <section class="panelling clearfix m-t no-broder-b">
              <div class="text-left">
                   <p class="col-6">发送时间：{[$result.S_Time]}</p>
                   <p class="col-3">发送数量：{[$result.S_Ture]}</p>
                   <p class="col-3">失败数量：{[$result.S_False]}</p>
              </div>
     </section>
     <section class="panelling clearfix color-bf">
              <div class="text-left">
                   <p>发送内容</p>
                   {[if $result.S_MobanType == 'moban']}

                   {[foreach from=$result.S_Remark item=v key=k]}

                   <h5>{[$k]}：{[$v]}</h5>

                   {[/foreach]}


                   
                   {[else]}
<h5>{[$result.S_Remark]}</h5>
                   {[/if]}
              </div>
     </section>
</div>


  <!-- / footer -->
  <script src="static/js/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script src="static/js/bootstrap.js"></script>

</body>
</html>