<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>分类管理 - {[$W_NAME]}</title>
<link href="{[$DIR]}css/style.css" rel="stylesheet" type="text/css" />
<link href="static/js/asyncbox/skins/Ext/asyncbox.css" rel="stylesheet" type="text/css" />
<script src="static/js/jquery-1.7.js"></script>
<script src="static/js/asyncbox/AsyncBox.v1.4.js"></script>
<script src="static/js/common.js"></script>
</head>

<body>
<div class="list_main_r">
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_title">
  <tr>
  	<td bgcolor="#ecf9ff"><span class="title">分类管理</span></td>
    <td bgcolor="#ecf9ff">
    <input type="button" value="添加分类" class="a90-30" onClick="addDep(0);" style="margin-top:10px;margin-right:20px;">
   	</td>
  </tr>
</table>
  <table class="table" width="100%" border="0" cellspacing="1" cellpadding="0">
      <tr class="title">
        <td width="10%"  style=" text-align:center;">ID</td>
        <td width="30%" style=" text-align:center;">分类名称</td>
        <td width="10%" style=" text-align:center;">分类级别</td>
		<td width="20%" style=" text-align:center;">操作</td>
      </tr>
      {[foreach from=$resClass item=v key=k]}
    <tr class="con">
        <td width="10%"  style="text-indent:1em;">{[$v.N_ID]}</td>
      <td width="30%"  style="text-align:left;text-indent:1em; font-size:14px; color:#06C; font-weight:bold;">{[$v.N_Class]}</td>
      <td width="10%" align="center" style="text-indent:1em;">一级分类</td>
	   <td width="20%" align="center" style="text-align:left;text-indent:1em; padding-top:10px;">
        <img src="static/images/add.png" alt="添加二级分类" title="添加二级分类" onclick="addTwoDep({[$v.N_ID]});" style="cursor:pointer;"/>
        <img src="static/images/edit.png" alt="编辑分类信息" title="编辑分类信息" onclick="updateDep({[$v.N_ID]});" style="cursor:pointer;"/>
      	<a href="index.php?m=manageNews&c=deNewsClass&p=manage&cid={[$v.N_ID]}" onclick="return delConfirm(this)">
        	<img src="static/images/del.png" alt="删除" title="删除" style="cursor:pointer;" border="0"/>                   
        </a>
        </td>
      </tr>
          {[foreach from=$resTwoClass[$v.N_ID] item=v1 key=k1]}
              <tr class="con">
                <td width="10%"  style="text-indent:1em;">{[$v1.N_ID]}</td>
                <td width="30%"  style="text-align:left;text-indent:2em;">├{[$v1.N_Class]}</td>
                <td width="10%" align="center"  style="text-indent:1em;">二级分类</td>
				<td width="20%" style="text-align:left;text-indent:1em; padding-top:10px;">
                <img src="static/images/edit.png" alt="编辑分类信息" title="编辑分类信息" onclick="updateDep({[$v1.N_ID]});" style="cursor:pointer;"/>
      			<a href="index.php?m=manageNews&c=deNewsClass&p=manage&cid={[$v1.N_ID]}" onclick="return delConfirm(this)">
                	<img src="static/images/del.png" alt="删除" title="删除" style="cursor:pointer;" border="0"/>     
                 </a>
                </td>
              </tr>
          {[/foreach]}
      {[/foreach]}
</table>
</div>
<script>
//添加分类
function addDep(cid){
	asyncbox.open({
		url : 'index.php?m=manageNews&c=popAddNewsClass&p=manage&cid=' + cid,
		width : 400,
		height : 250,
		title : '添加分类'
	});	
}

function addTwoDep(cid){
  asyncbox.open({
    url : 'index.php?m=manageNews&c=popTwoAddClass&p=manage&cid=' + cid,
    width : 400,
    height : 250,
    title : '添加分类'
  }); 
}

//更新分类信息
function updateDep(cid){
	asyncbox.open({
		url : 'index.php?m=manageNews&c=popUpNewsClass&p=manage&cid=' + cid,
		width : 400,
		height : 250,
		title : '分类编辑'
	});	
}
</script>
</body>
</html>
