<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>支付方式 - {[$W_NAME]}</title>
<link href="{[$DIR]}css/style.css" rel="stylesheet" type="text/css" />
<link href="static/js/asyncbox/skins/Ext/asyncbox.css" rel="stylesheet" type="text/css" />
<script src="static/js/jquery-1.7.js"></script>
<script src="static/js/asyncbox/AsyncBox.v1.4.js"></script>
<script src="static/js/common.js"></script>
</head>

<body>
<div class="list_main_r">
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_title">
  <tr  style="height:50xp;">
  	<td bgcolor="#ecf9ff" height = '50px'><span class="title">支付方式</span></td>

  </tr>
</table>
  <table class="table" width="100%" border="0" cellspacing="1" cellpadding="0">
      <tr class="title">
        <td width="10%"  style=" text-align:center;">支付方式名称</td>
        <td width="46%" style=" text-align:center;">支付方式描述</td>
        <td width="10%" style=" text-align:center;">插件版本</td>
		<td width="10%" style=" text-align:center;">插件作者</td>
		<td width="8%" style=" text-align:center;">费用</td>
		<td width="8%" style=" text-align:center;">排序</td>
		<td width="8%" style=" text-align:center;">操作</td>
      </tr>
      {[foreach from=$modules item=v key=k]}
    <tr class="con">
      <td width="10%"  style="text-indent:1em;">{[$v.name]}</td>
      <td width="46%"  style="text-align:left;text-indent:1em;">{[$v.desc]}</td>
      <td width="10%" align="center" style="text-indent:1em;">{[$v.version]}</td>
	  <td width="10%" align="center" style="text-align:left;text-indent:1em; padding-top:10px;">{[$v.author]}</td>
	  <td width="8%" align="center" style="text-indent:1em;">{[$v.pay_fee]}</td>
	  <td width="8%" align="center" style="text-indent:1em;">{[$v.pay_order]}</td>
	  <td width="8%" align="center" style="text-indent:1em;">
	  {[if $v.install == "1"]}
          <a href="javascript:tishi('{[$v.code]}');">卸载</a>
          <a href="javascript:paymentedit('{[$v.code]}');">编辑</a>
      {[else]}
           <a href="javascript:addMenu('{[$v.code]}');">安装</a>
      {[/if]}
	  </td>


      </tr>

      {[/foreach]}
</table>
</div>
</body>
</html>
<script>
function tishi(code) {
	if (confirm("您确定要卸载该支付方式？")) {
		window.location.href="index.php?m=managePayment&p=manage&c=uninstall&pay_code="+code;
	}
}
function addMenu(code){
	$.open({
		url : 'index.php?m=managePayment&p=manage&c=Install&code=' + code,
		width : 700,
		height : 500,
		callback : function(action){
	　　　　if(action == 'close'){
	　　　　	window.location.reload();
	　　　　}
		}
	});
}

function paymentedit(code){
	$.open({
		url : 'index.php?m=managePayment&p=manage&c=paymentedit&code=' + code,
		width : 700,
		height : 500,
		callback : function(action){
	　　　　if(action == 'close'){
	　　　　	window.location.reload();
	　　　　}
		}
	});
}
</script>