<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>书画平台推荐任务配置 - {[$COMPANY]}</title>
<link href="{[$DIR]}css/style.css" rel="stylesheet" type="text/css" />
<link href="static/js/asyncbox/skins/Ext/asyncbox.css" rel="stylesheet" type="text/css" />
<script src="static/js/jquery-1.7.js"></script>
<script src="static/js/asyncbox/AsyncBox.v1.4.js"></script>
<script src="static/js/common.js"></script>
<script src="static/js/My97DatePicker/WdatePicker.js"></script>
</head>

<body>
<div class="list_main_r">
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_title">
  <tr>
  	<td bgcolor="#ecf9ff" style="padding-top:10px;padding-bottom:10px;"><span class="title">{[if $id>0]}编辑推荐信息{[else]}添加推荐信息{[/if]}</span></td>
  </tr>
</table>

<form action="index.php?m=manageAffiliate&p=manage&c=up_end" method="post" enctype="multipart/form-data" name="form1">
<input type="hidden" name="id" id="id" value="{[$id]}"/>
  <table class="table" width="100%" border="0" cellspacing="1" cellpadding="0" id="padding">
    <tr class="con con_a">
      <td width="20%" style=" text-align:right;">推荐时效：</td>
      <td colspan="2" style=" text-align:left;"><input type="text" name="expire" maxlength="150" size="10" value="{[$config.expire]}"><select name="expire_unit"><option value="1" {[if $config.expire_unit == 1]} selected{[/if]}>小时</option><option value="2" {[if $config.expire_unit == 2]} selected{[/if]}>天</option><option value="3" {[if $config.expire_unit == 3]} selected{[/if]}>周</option></select><br />
      (访问者点击某推荐人的网址后，在此时间段内注册，均认为是该推荐人的所介绍的。)</td>
    </tr>
	<tr class="con">
      <td style=" text-align:right;">活动标题：</td>
      <td width="41%" style=" text-align:left;"><input type="text" name="name" maxlength="150" size="30" value="{[$config.name]}">
	  </td>
    </tr>

    <tr class="con">
      <td style=" text-align:right;">注册送积分数：</td>
      <td width="41%" style=" text-align:left;"><input type="text" name="level_register_all" maxlength="150" size="10" value="{[$config.level_register_all]}"><br />
	  (介绍会员注册，介绍人所能获得的积分数。)
	  </td>
    </tr>

	<tr class="con con_a">
      <td style=" text-align:right;">下单赠送积分：</td>
      <td width="41%" style=" text-align:left;"><input type="text" name="order_all" maxlength="150" size="10" value="{[$config.order_all]}"><br />
	   (介绍会员下单，介绍人所能获得的积分数。)
	  </td>
    </tr>

    <tr class="con">
      <td style=" text-align:right;">积分上限：</td>
      <td width="41%" style=" text-align:left;"><input type="text" name="level_register_up" maxlength="150" size="10" value="{[$config.level_register_up]}"><br />
	  (积分到此上限则不再奖励介绍注册积分。0为没有上限)
	  </td>
    </tr>

	<tr class="con con_a">
      <td style=" text-align:right;">推荐链接地址：</td>
      <td width="41%" style=" text-align:left;"><input type="text" name="affiliate_like" maxlength="150" size="20" value="{[$config.affiliate_like]}"><br />
	  (如 http://www.96567.com。)
	  </td>
    </tr>

	<tr class="con">
      <td style=" text-align:right;">赠送范围：</td>
      <td width="41%" style=" text-align:left;"><input type="checkbox" name="affiliate_range[]" value='1' 
	  {[foreach from=$affiliate_range item =af ]}
	  {[ if $af == 1]}checked="checked"{[/if]}
	  {[/foreach]}
	  >注册&nbsp;&nbsp;<input type="checkbox" name="affiliate_range[]" value='2' {[foreach from=$affiliate_range item =af ]}
	  {[ if $af == 2]}checked="checked"{[/if]}
	  {[/foreach]}> 下单
	  </td>
    </tr>

	<tr class="con con_a">
      <td style=" text-align:right;">是否开启：</td>
      <td width="41%" style=" text-align:left;"><input type="radio" name="is_k" value='1' {[ if $config.is_k == 1]}checked="checked"{[/if]}>是&nbsp;&nbsp;<input type="radio" name="is_k" value='2' {[ if $config.is_k == 2]}checked="checked"{[/if]}> 否
	  </td>
    </tr>
	
    <tr class="con">
      <td colspan="3"><div style="width:152px; margin:0 auto 0 auto;">
        <input type="submit" value="提交" class="a70-26" style="margin-top:10px; margin-bottom:10px;" >
        <input type="reset" value="重置" class="a70-26-2" style="margin-left:10px; margin-top:10px; margin-bottom:10px;">
        </div></td>
    </tr>
  </table>
</form>
</div>
</body>
</html>
