<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>图片上传 - {[$W_NAME]}</title>
<link href="{[$DIR]}css/style.css" rel="stylesheet" type="text/css" />
<link href="static/js/asyncbox/skins/Ext/asyncbox.css" rel="stylesheet" type="text/css" />
<script src="static/js/jquery-1.7.js"></script>
<script src="static/js/asyncbox/AsyncBox.v1.4.js"></script>
<script src="static/js/common.js"></script>
</head>

<body>
<div class="list_main_r">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_title">
  <tr>
  	<td bgcolor="#ecf9ff" class="title" style="padding:5px;">关联词设置</td>
  </tr>
</table>
  <div id="showContent">
  <table class="table" width="100%" border="0" cellspacing="1" cellpadding="0">
      <tr>
        <td height="40"  style=" text-align:center;">
        {[if $find]}
          <input name="imgName" type="hidden" id="imgName" value="{[$imgURL]}"/>
          <a href="{[$imgURL]}" target="_blank">{[$imgURL]}</a>
		{[else]}
<form action="index.php?m=uploadImg&c=uploadAction&p=action" method="post" enctype="multipart/form-data" name="form1" id="form1">
          <input type="file" name="uImg" id="uImg" />
          <input type="submit" name="button" id="button" value="上传" />
        </form>
        {[/if]}
        </td>
      </tr>
</table>
  </div>
</div>
</body>
</html>
