<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>书画平台推荐任务配置 - {[$COMPANY]}</title>
<link href="{[$DIR]}css/style.css" rel="stylesheet" type="text/css" />
<link href="static/js/asyncbox/skins/Ext/asyncbox.css" rel="stylesheet" type="text/css" />
<script src="static/js/jquery-1.7.js"></script>
<script src="static/js/asyncbox/AsyncBox.v1.4.js"></script>
<script src="static/js/common.js"></script>
<script src="static/js/My97DatePicker/WdatePicker.js"></script>
</head>

<body>
<div class="list_main_r">
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="table_title">

  <tr  style="height:50px;">
  	<td bgcolor="#ecf9ff"><span class="title">会员统计</span></td>
  </tr>
</table>

  <table class="table" width="100%" border="0" cellspacing="1" cellpadding="0" id="padding">

	<tr class="title">
	  <td width="15%" style=" text-align:center;">会员名称</td>
	  <td width="5%" style=" text-align:center;">发布数量</td>
	  <td width="10%" style=" text-align:center;">注册时间</td>

      </tr>
{[foreach from=$dataArr item=v key=k]}
    <tr class="con">
      <td width="15%" style=" text-align:left;">{[$v.U_UserName]}</td>
	  <td width="5%" style=" text-align:left;">{[$v.num]}</td>
      <td width="10%" style=" text-align:center;">{[$v.U_Time|date_format:"%Y-%m-%d"]}</td>

	
    </tr>
  {[/foreach]}

	
	
  
  </table>
  <div id="page" style="text-align:center;">
{[$pageStr]}
</div>
</div>

</body>
</html>
