@charset "gb2312";
*{
	margin: 0;
	padding: 0;
	border: none;
	list-style-type: none;
	font: normal 100% '冬青黑体简体中文', 'microsoft yahei', Arial, sans-serif;
}
body{
	max-width: 640px;
	min-width: 320px;
	background: #f5f5f5;
	margin: 0 auto;
}
img{
	width: 100%;
}
.hide{display: none;}
a{
	text-decoration: none;
	color: #555555;
}
.hide{
	display: none;
}
/*以上是公共样式*/

.auction_phone_main1{
	margin-top: 20px;
	width: 100%;
	overflow: hidden;
}
.auction_phone_main1_a{
	display: block;
	overflow: hidden;
	width: 94%;
	border:1px solid #ccc;
	margin: 10px auto;
	padding: 1px 1px 25px 1px;
	background: #fff;

}
.auction_phone_main1_a strong{
	font-size: 18px;
	color: #060606;
	line-height: 40px;
	display: block;
	overflow: hidden;
	height: 40px;
	margin-top: 5px;
}
.auction_phone_main1_p1{
	margin-top: 5px;
	display: block;
	float: left;
	width: 55%;
	overflow: hidden;
	font-family: '黑体';
	font-size: 14px;
	color: #555555;
	margin-left: 3px;
}
.auction_phone_main1_p1 span{
	color: #a20000;
	margin: 0 5px;
}
.auction_phone_main1_p2{
	display: block;
	float: right;
	width:39%;
	overflow: hidden;
	text-align: right;
	background: #a20000;
	color: #fff;
	padding: 5px;
	font-size: 12px;
}
/*auction_phone_main2*/
.auction_phone_main2{
	width: 94%;
	margin: 0 auto;
	overflow: hidden;
}
.auction_phone_main2_title{
	width: 100%;
	overflow: hidden;
	margin: 5px auto;
	font-family: '黑体';
	font-size: 2em;
	color: #000;
}
.auction_phone_main2_title strong{
	padding-bottom: 8px;
	display: block;
	overflow: hidden;
	width: 100%;
	background: url(images/title_img1.jpg) left bottom no-repeat;
	font-size: 16px;
	background-size: 100%;
}
.auction_phone_main2_title span{
	color: #a20000;
}
.auction_phone_main2_ul{
	display: block;
	overflow: hidden;
	width: 100%;
}
.auction_phone_main2_ul li{
	display: block;
	overflow: hidden;
	width: 92%;
	border: 1px solid #ccc;
	padding: 10px;
	margin: 5px auto;
	background: #fff;
}
.auction_phone_main2_ul_li_left{
	width: 29%;
	overflow: hidden;
	float: left;
}
.auction_phone_main2_ul_li_right{
	width: 65%;
	overflow: hidden;
	float: left;
	margin-left: 10px;
}
.auction_phone_main_ul_li_right_down img{
	width: 20px;
}
.auction_phone_main_ul_li_right_down i{
	font-size: 12px;
}
.auction_phone_main2_ul_li_right strong{
	font-size: 14px;
	color: #333;
	display: block;
	width: 100%;
	margin: 0px auto;
	line-height: 20px;
	height: 40px;
	overflow: hidden;
}
.auction_phone_main_ul_li_right_mid p{
	color: #555;
	font-family: '黑体';
	font-size: 10px;
	display: block;
	width: 50%;
	overflow: hidden;
	float: left;
	line-height: 30px;
	height: 30px;
}
.auction_phone_main_ul_li_right_mid p span{
	font-size: 18px;
	color: #d62628;
	font-family: 'microsoft yahei';
}
.auction_phone_main_ul_li_right_mid p:last-child{
	float: right;
	width: 30%;
	text-align: right;
}
.auction_phone_main_ul_li_right_mid p:last-child span{
	font-size: 16px;
}
.auction_phone_main_ul_li_right_down{
	color: #b42020;
	font-size: 16px;
	font-family: '黑体';
	line-height: 25px;
	clear: both;
	overflow: hidden;
}
/*auction_phone_main2 end*/

/*auction_phone_main3*/
.auction_phone_main3{
	width: 94%;
	margin: 0 auto;
	overflow: hidden;
}
.auction_phone_main3_title{
	width: 100%;
	overflow: hidden;
	margin: 5px auto;
	font-family: '黑体';
	font-size: 2em;
	color: #000;
}
.auction_phone_main3_title strong{
	padding-bottom: 8px;
	display: block;
	overflow: hidden;
	width: 100%;
	background: url(images/title_img3.jpg) left bottom no-repeat ;
	font-size: 16px;
	background-size: 100%;
}
.auction_phone_main3_title span{
	color: #196554;
}
.auction_phone_main3_ul{
	display: block;
	overflow: hidden;
	width: 100%;
}
.auction_phone_main3_ul li{
	display: block;
	overflow: hidden;
	width: 92%;
	border: 1px solid #ccc;
	padding: 10px;
	margin: 5px auto;
	background: #fff;
}
.auction_phone_main3_ul_li_left{
	width: 29%;
	overflow: hidden;
	float: left;

}
.auction_phone_main3_ul_li_right{
	width: 65%;
	overflow: hidden;
	float: left;
	margin-left: 10px;
}
.auction_phone_main3_ul_li_right_down img{
	width: 20px;
}
.auction_phone_main3_ul_li_right strong{
	font-size: 16px;
	color: #333;
	display: block;
	width: 100%;
	margin: 5px auto;
	line-height: 23px;
	height: 46px;
	overflow: hidden;
}
.auction_phone_main3_ul_li_right_mid p{
	color: #555;
	font-family: '黑体';
	font-size: 14px;
	display: block;
	width: 50%;
	overflow: hidden;
	float: left;
	line-height: 30px;
	height: 30px;
}
.auction_phone_main3_ul_li_right_mid p:last-child{
	width: 30%;
	float: right;
	text-align: right;
}
.auction_phone_main3_ul_li_right_mid p:last-child span{
	font-size: 16px;
}
.auction_phone_main3_ul_li_right_mid p span{
	font-size: 18px;
	color: #196554;
	font-family: 'microsoft yahei';
}
.auction_phone_main3_ul_li_right_down{
	clear: both;
	color: #196554;
	font-size: 16px;
	font-family: '黑体';
	line-height: 25px;
}
/*auction_phone_main3 end*/

/*index1*/
.auction_phone_zc_a_p{
	color: #555;
	font-size: 16px;
	font-family: '黑体';
}
.auction_phone_zc_a_p span{
	display: block;
	width: 45%;
	overflow: hidden;
	float: left;
}
.auction_phone_zc_a_p span:first-child{
	margin-left: 15px;
}
.auction_phone_zc_a_p span:last-child{
	text-align: right;
}
.auction_phone_zc_a_p i{
	color: #a20000;
}
.auction_phone_zc_top{
	width: 100%;
	position: fixed; 
	left: 0;
	top: 0;
	background: url(images/auction_phone_bg.png) center repeat;
	overflow: hidden;
	text-align: center;
	padding: 10px 0;
	font-size: 1em;
	color: #fff;
	font-family: '黑体';
	display: none;
	z-index:10000;
}
.auction_phone_product_nostart_top{
	width: 100%;
	position: fixed; 
	left: 0;
	top: 0;
	background: url(images/auction_phone_bg1.png) center repeat;
	overflow: hidden;
	text-align: center;
	padding: 10px 0;
	font-size: 1em;
	color: #fff;
	font-family: '黑体';
	z-index:10000;
}
/*index1 end*/

/*产品详情页即将开始*/
.auction_phone_product_start_banner{
	width: 320px;
	height: 320px;
	overflow: hidden;
	margin: 0 auto 0px;
}
.auction_phone_product_start_info{
	width: 96%;
	overflow: hidden;
	margin: 20px auto 10px;
}
.auction_phone_product_start_info strong{
	color: #333;
	font-size: 18px;
	line-height: 23px;
	height: 23px;
	display: block;
	overflow: hidden;
}
.auction_phone_product_start_info_p1{
	margin-top: 3px;
	font-family: '黑体';
	font-size: 14px;
	color: #666;
	line-height: 25px;
	display: block;
	overflow: hidden;
	height: 25px;
}
.auction_phone_product_start_info_p1 span{
	color: #d62628;
	font-size: 20px;
	
}
.auction_phone_product_start_info_p2{
	color: #9f9f9f;
	font-size: 14px;
	font-family: '黑体';
	line-height: 25px;
	display: block;
	overflow: hidden;
	height: 25px;
	margin-top: 5px;
}
.auction_phone_product_start_info_p2 i:last-child{
	margin-left: 10px;
}

.auction_phone_product_start_status{
	width: 96%;
	margin:10px auto 0;
	border-top: 1px solid #c4c4c4;
	border-bottom: 1px solid #c4c4c4;
	padding: 10px 0 0 0;
}
/*缴纳保证金*/
.auction_phone_product_start_status_margin{
	width: 100%;
	overflow: hidden;
}
.auction_phone_product_start_status_margin div:first-child{
	margin-top: 10px;
}
.auction_phone_product_start_status_margin_left{
	color: #666;
	font-size: 18px;
	float: left;
	width: 30%;
	margin-top: 5px;
}
.auction_phone_product_start_status_margin_right{
	float: left;
	width: 70%;
}
.auction_phone_product_start_status_margin_right a{
	display: block;
	overflow: hidden;
	float: left;
	background:#Fff;
	width: 46%;
	text-align: center;
	padding: 5px 0;
	cursor: pointer;
	color: #d62628;
	font-family: 'microsoft yahei';
	font-size: 16px;
	border:1px solid #ccc;
}
.auction_phone_product_start_status_margin_right_active{
	border:1px solid #a20000;
	padding: 3px 0;
}
.auction_phone_product_start_status_margin_right a:first-child{
	margin-right: 10px;
}
.auction_phone_product_start_status_margin_button{
	clear: both;
	display: block;
	width: 50%;
	margin: 15px auto;
	background: #a20000;
	padding: 5px 0;
	text-align: center;
	font-size: 18px;
	color: #fff;
	border:none;
}
/*缴纳保证金 end*/
/*立即出价*/
.auction_phone_product_start_status_bid{
	width: 100%;
	overflow: hidden;
	margin:5px auto 0;
}
.auction_phone_product_start_status_bid_left{
	float:left;
	width: 58%;
	overflow: hidden;
	border: 2px solid #b2b2b2;
}
.auction_phone_product_start_status_bid_left input{
	width: 46%;
	display: block;overflow: hidden;
	float: left;
	border-left: 2px solid #b2b2b2;
	border-right: 2px solid #b2b2b2;
	text-align: center;
	padding:10px 0;
	color: #d62628;
	font-size: 20px;
	font-family: 'microsoft yahei';
	border-radius:0;
}
.auction_phone_product_start_status_bid_left a{
	display: block;
	float: left;
	width: 24%;
	overflow: hidden;text-align:center;
	cursor: pointer;
	padding:10px 0;
	font-size: 18px;
}
.auction_phone_product_start_status_bid_a{
	width: 35%;
	overflow: hidden;
	float: right;
	text-align: center;
	padding:14px 0;
	background: #a20000;
	color: #fff;
	font-size: 16px;
}
.auction_phone_product_start_status_bid_p{
	clear: both;
	display: block;
	font-size: 16px;
	color: #666;
	line-height: 50px;
}
.auction_phone_product_start_status_bid_p span{
	color: #a20000;
	font-size: 20px;
	cursor: pointer;
}
/*立即出价 end*/
/*立即委托*/
.auction_phone_product_start_status_entrust{
	width: 100%;
	overflow: hidden;
}
.auction_phone_product_start_status_entrust p{
	display: block;width: 65%;
	overflow: hidden;
}
.auction_phone_product_start_status_entrust p span{
	width:35%;
	display: block;overflow: hidden;
	float: left;
	margin-top: 3px;
	font-size: 16px;
	color: #666;
}
.auction_phone_product_start_status_entrust p input{
	width: 60%;
	display: block;
	overflow: hidden;
	float: left;
	padding-left: 5px;
	border:2px solid #b2b2b2;
	background: #fff;
	color: #a20000;
	font-size: 20px;
	font-family: 'microsoft yahei';
}
.auction_phone_product_start_status_entrust button{
	width: 45%;
	overflow: hidden;
	float: left;
	background: #a20000;
	padding: 3px 0;
	display: block;
	overflow: hidden;
	color: #fff;
	cursor: pointer;
	border:2px solid #a20000;
}
/*立即委托 end*/
/*auction_phone_product_start_info1*/
.auction_phone_product_start_info1{
	width: 96%;
	overflow: hidden;
	margin: 0px auto;
	border-bottom: 1px solid #c4c4c4;
	padding: 5px 0;
}
.auction_phone_product_start_info1 p{
	display: block;
	overflow: hidden;
	width: 50%;
	float: left;
	color: #9F9F9F;
	font-size: 14px;
	line-height: 25px;
}
/*auction_phone_product_start_info1 end*/
/*auction_phone_product_start_main*/
.auction_phone_product_start_main{
	width: 100%;
	overflow: hidden;
}
.auction_phone_product_start_main a{
	display: block;
	overflow: hidden;
	width: 95%;
	background: #fff;
	border-top: 1px solid #e1e1e1;
	padding: 10px 10px;
	margin: 0 auto;
	color: #666;
}
.auction_phone_product_start_main a:first-child{
	margin-top: 0px;
	border-top: none;
	background: none;
}
.auction_phone_product_start_main_ul i{
	color: red;
}
.auction_phone_product_start_main a:last-child{
	border-bottom: 1px solid #e1e1e1;
}
.auction_phone_product_start_main a span{
	float: right;
}
.auction_phone_product_start_main_ul{
	display: block;
	width: 96%;
	overflow: hidden;
	margin: 0px auto;
	border:1px solid #bcbcbc;
	background: #fff;
	
}
.auction_phone_product_start_main_ul li{
	border-bottom: 1px dashed #c9c9c9;
	width: 100%;
	display: block;
	overflow: hidden;
}
.auction_phone_product_start_main_ul li:first-child{
	background: #eeeeee;
}
.auction_phone_product_start_main_ul li:first-child p{
	border-left: none;
}
.auction_phone_product_start_main_ul li:last-child{
	border-bottom: none;
}
.auction_phone_product_start_main_ul li p{
	display: block;
	width: 33%;
	overflow: hidden;
	float: left;
	text-align: center;
	border-left: 1px dashed #c9c9c9;
	font-size: 12px;
	line-height: 30px;
	color: #666;
}
.auction_phone_product_start_main_ul li p:first-child{
	border-left: none;
	width: 30%;
}
.auction_phone_product_start_main_ul li p:nth-child(2){
	width: 30%;
}
.auction_phone_product_start_main_ul li p:last-child{
	text-align: left;
	padding-left: 2%;
}
.auction_phone_product_start_main_ul li:first-child p:last-child{
	text-align: center;
}
/*auction_phone_product_start_main end*/

/*修改委托*/
.auction_entrust{
	width: 100%;
	overflow: hidden;
}
.auction_entrust_main{
	
	overflow: hidden;
	margin: 0 auto;
	background: #fff;
	position: relative;
	padding: 15px 0;
}
.auction_entrust_main_top{
	width: 100%;
	overflow: hidden;
}
.auction_entrust_main p{
	font-size: 16px;
	font-weight: bold;
	color: #898989;
	font-family: 'microsoft yahei';
	line-height: 35px;
	height: 35px;
	display: block;
	overflow: hidden;
	text-align: center;
	width: 30%;
	float: left;

}
.auction_entrust_main_down{
	overflow: hidden;
	width: 100%;
	margin: 10px auto;
}
.auction_entrust_main_input1{
	display: block;
	width: 50%;
	float: left;
	border:2px solid #b2b2b2;
	text-align: center;
	color: #a20000;
	background: #fff;
	margin-left: 10px;
	padding: 5px 0;
}
.auction_entrust_main_input2{
	display: block;
	width: 45%;
	float: right;
	background: #e4393c;
	border-radius: 5px;
	text-align: center;
	padding: 5px 0;
	color: #fff;
	font-family: 'microsoft yahei';
	float: left;
	margin-right: 10px;
}
.auction_entrust_main_input3{
	display: block;
	width: 45%;
	float: right;
	background: #999;
	border-radius: 5px;
	text-align: center;
	padding: 5px 0;
	color: #fff;
	font-family: 'microsoft yahei';
	float: left;
}
/*修改委托 end*/
/*产品详情页即将开始 end*/
/*保证金页面*/
.Auction_Margin_main{
	width: 96%;
	overflow: hidden;
	margin: 10px auto;
	border-top: 1px solid #c4c4c4;
	padding: 10px 0;
}
.Auction_Margin_main1 header{
	margin-left: 2%;
	font-family: '黑体';
	font-size: 18px;
	color: #000;
	line-height: 35px;
}
.Auction_Margin_main1 img{
	width: 100%;
	overflow: hidden;
	margin: 0 auto;
}
.Auction_Margin_main header{
	font-family: '黑体';
	font-size: 18px;
	color: #000;
	line-height: 35px;
}
.Auction_Margin_main p{
	font-size: 16px;
	color: #666;
	font-family: '黑体';
	display: block;
	width: 100%;
	overflow: hidden;
	margin: 8px 0;
}
/*保证金页面end*/