*{
	margin: 0;
	padding: 0;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.painting1  {
	background: url(../images/painting_01.jpg);
	height: 635px;
}
.painting2  {
	background: url(../images/painting_02.jpg);
	height: 197px;
}
.painting3  {
	background: url(../images/painting_03.jpg);
	height: 502px;
}
.painting4  {
	position: relative;
	background: url(../images/painting_04.jpg);
	height: 684px;
}
.painting4:before,.painting13:before {
	position: absolute;
	top: -483px;
	left: -364px;
	content: '';
	display: block;
	width: 364px;
	height: 623px;
	background: url(../images/demo-block1.jpg) no-repeat;
}
.painting13:before {
	top: 160px;
}
.painting5  {
	background: url(../images/painting_05.jpg);
	height: 540px;
}
.painting6  {
	background: url(../images/painting_06.jpg);
	height: 267px;
}
.painting7  {
	background: url(../images/painting_07.jpg);
	height: 497px;
}
.painting8  {
	position: relative;
	background: url(../images/painting_08.jpg);
	height: 688px;
}
.painting16:before,
.painting8:before {
	position: absolute;
	top: 80px;
	right: -364px;
	content: '';
	display: block;
	width: 364px;
	height: 623px;
	background: url(../images/demo-block2.jpg) no-repeat;
}
.painting16:before {
	top: 490px;
}
.painting9  {
	background: url(../images/painting_09.jpg);
	height: 188px;
}
.painting10 {
	background: url(../images/painting_10.jpg);
	height: 497px;
}
.painting11 {
	background: url(../images/painting_11.jpg);
	height: 688px;
}
.painting12 {
	background: url(../images/painting_12.jpg);
	height: 272px;
}
.painting13 {
	position: relative;
	background: url(../images/painting_13.jpg);
	height: 649px;
}

.painting14 {
	background: url(../images/painting_14.jpg);
	height: 537px;
}
.painting15 {
	background: url(../images/painting_15.jpg);
	height: 188px;
}
.painting16 {
	position: relative;
	background: url(../images/painting_16.jpg);
	height: 942px;
}
.painting17 {
	background: url(../images/painting_17.jpg);
	height: 180px;
}
.painting18 {
	background: url(../images/painting_18.jpg);
	height: 497px;
}
.painting19 {
	background: url(../images/painting_19.jpg);
	height: 697px;
}
.painting20 {
	background: url(../images/painting_20.jpg);
	height: 88px;
}
.painting21 {
	background: url(../images/painting_21.jpg);
	height: 105px;
}
.painting22 {
	background: url(../images/painting_22.jpg);
	height: 435px;
}
[class*='painting']{
	margin: 0 auto;
	background-repeat:no-repeat ;
	background-position: center top;
}
.demo-block {
	overflow: hidden;
	position: relative;
    background: url(../images/painting.jpg);
}
.ui-wrap {
	width: 990px;
    margin: 0 auto;
}
.ui-wrap:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}

.one a {
	display: block;
	width: 100%;
	height: 100%;
}

.ui-wrap .two a {
	display: block;
	width: 50%;
	height: 100%;
	float: left;
}

.ui-wrap .three a {
	display: block;
	width: 33.33%;
	height: 100%;
	float: left;
}

.ui-wrap .four a {
	display: block;
	width: 25%;
	height: 100%;
	float: left;
}