
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.usbox1 {
	background: url(http://sctx.oss-cn-beijing.aliyuncs.com/images/america20161108web/america_01.jpg);
}
.usbox2 {
	background: url(http://sctx.oss-cn-beijing.aliyuncs.com/images/america20161108web/america_02.jpg);
}
.usbox3 {
	background: url(http://sctx.oss-cn-beijing.aliyuncs.com/images/america20161108web/america_03.jpg);
}
.usbox4 {
	background: url(http://sctx.oss-cn-beijing.aliyuncs.com/images/america20161108web/america_04.jpg);
}
.usbox5 {
	background: url(http://sctx.oss-cn-beijing.aliyuncs.com/images/america20161108web/america_05.jpg);
}
.usbox6 {
	background: url(http://sctx.oss-cn-beijing.aliyuncs.com/images/america20161108web/america_06.jpg);
}
.usbox7 {
	background: url(http://sctx.oss-cn-beijing.aliyuncs.com/images/america20161108web/america_07.jpg);
	height: 373px !important;
}
.usbox8 {
	background: url(http://sctx.oss-cn-beijing.aliyuncs.com/images/america20161108web/america_08.jpg);
	height: 455px !important;
}
.usbox9 {
	background: url(http://sctx.oss-cn-beijing.aliyuncs.com/images/america20161108web/america_09.jpg);
	height: 466px !important;
}
.usbox10 {
	background: url(http://sctx.oss-cn-beijing.aliyuncs.com/images/america20161108web/america_10.jpg);
	height: 463px !important;
}
.usbox11 {
	background: url(http://sctx.oss-cn-beijing.aliyuncs.com/images/america20161108web/america_11.jpg);
	height: 219px !important;
}
.usbox12 {
    background: url(http://sctx.oss-cn-beijing.aliyuncs.com/images/america20161108web/america_12.jpg);
	height: 140px !important;
}
[class*='usbox']{
	height: 340px;
	margin: 0 auto;
	background-repeat:no-repeat ;
	background-position: center top;
}

.ui-wrap {
	width: 950px;
    margin: 0 auto;
    overflow: hidden;
}
.ui-wrap a {
	display: block;
	width: 100%;
	height: 100%;
}
.usbox8 a {
	height: 455px;
}
.usbox9 a {
	height: 466px;
}
.usbox10 a {
	height: 463px;
}
.usbox11 a {
	height: 219px;
}
.usbox12 a {
	height: 140px;
}