@charset "utf-8";
/*reset start*/
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
html,body,form,fieldset,p,div,h1,h2,h3,h4,h5,h6{-webkit-text-size-adjust:none}
html{font-size:16px}
body{font-family:"microsoft yahei",arial,sans-serif; background:#fffeef;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0; vertical-align: top;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;font-style: normal;font-weight: normal;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{color:#333;outline:0;}
body *{-webkit-tap-highlight-color:rgba(0,0,0,0);tap-highlight-color:rgba(0,0,0,0)}
.clearfix:after{content:".";display:block;overflow:hidden;height:0;clear:both;visibility:hidden;}
* html .clearfix{height:1%;}
input,textarea {outline: none; -webkit-appearance:none;}
.clearOver{overflow: hidden; text-overflow:ellipsis; white-space: nowrap;}
nput[type="button"], input[type="submit"], input[type="reset"] {
-webkit-appearance: none;
}
textarea {  -webkit-appearance: none;}   
a:active,a:hover {
	-webkit-transition: .2s;
	transition: .2s;
}
.rmb-bar {
	padding-bottom: 2%;
}
.rmb-bar img {
	width: 100%;
}
.btn-play {
	position: fixed;
	bottom: 0;
	width: 100%;
}
.btn-play a {
	display: inline-block;
	height: 46px;
	width: 50%;
	font-size: 18px;
	text-align: center;
	line-height: 46px;
	color: #fff;
	float: left;
}
.btn-play a:first-child {
	background: #ffa200;
}
.btn-play a:last-child {
	background: #e94601;
}

.formbox {
	/*border-right: 1px #eae8e9 solid;
	border-left: 1px #eae8e9 solid;*/
	margin: 0 2.5%;
    padding: 20px 7% 20px;
    text-align: center;
    background: #fff8f5;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 2px 2px #ccc;
    margin-bottom: 30px;
}
.formbox span {
	display: block;
	margin-bottom: 14px;
}
.formbox .item input {
	border-radius: none;
	width: 100%;
	padding: 10px;
	font-size: 14px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px #d3d3d3 solid;
}
.formbox .item-yz {
	margin-bottom: 14px;
	overflow: hidden;
}
.formbox .item-yz input.l,
.formbox .item-yz input.r {
	float: left;
	padding: 10px;
	width: 60%;
	border: 1px #d3d3d3 solid;
	font-size: 1em;
	border-radius: 0;
}

.formbox .item-yz input.r {
	margin-right: 0;
    width: 40%;
    background: #bd144d;

    border-bottom: 0;
    color: #fff;
}

.formbox .item-yz input {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.formbox .item-select select {
	height: 34px;
	width: 31%;
	border: 1px #d3d3d3 solid;
	border-radius: none;
	
}
.emphasis,
.commitment {
	text-align: left;
	font-size: 12px;
	font-weight: bold;
}
.emphasis {
	color: #d02f35;
	margin-bottom: 4px;
}
.commitment {
	color: #555;
	margin-bottom: 10px;
}
.btn-go {
	display: inline-block;
	color: #fff;
	text-align: center;
	padding: 6px 30px;
	font-size: 18px;
	line-height: 24 px;
	border-radius: 20px;
	background: #bd144d;
	border: 0;
}
