<!--{template header}-->
<!--{template banner}-->

<!--内容部分--->
<div class="content-body">
<div class="container  ">

<div class="row">
<div class="col-sm-8">
<ol class="breadcrumb">
  <li><a class="first" href="{SITE_URL}">{$setting['site_name']}</a></li>

  <li class="active">活跃用户</li>
</ol>


<hr>


        
              <div class="userlist">
            <ul class="nav navbar-nav">
                <!--{loop $userlist $activeuser}-->
                <li><a title="{$activeuser['username']}" target="_blank" href="{url user/space/$activeuser['uid']}"><img width="50" height="50" class="img-rounded" src="{$activeuser['avatar']}" onmouseout="pop_user_out();" onmouseover="pop_user_on(this, '{$activeuser['uid']}', 'image_active');"></a><a class="name" title="{$activeuser['username']}" target="_blank" href="{url user/space/$activeuser['uid']}">{$activeuser['username']}</a></li>
                <!--{/loop}-->
            </ul>
        </div>
        
         <div class="pages">{$departstr}</div>   
</div>


<div class="col-sm-4 b-l-line">
<!-- 回答榜 -->
<h3 class="font-18 mar-t-05">
回答榜
</h3>
<hr class="clearfix">
     <ul  id="alltop" class="nav mar-b-1">
                <!--{loop $answertop $index $topuser}-->
              
                <li class="clearfix b-b-line">
               <a class="pull-left" title="{$topuser['name']}" target="_blank" href="{url user/space/$topuser['uid']}"><i class="quan"></i><img width="35" height="35" class="img-rounded"  alt="{$topuser['username']}" src="{$topuser['avatar']}"  onmouseover="pop_user_on(this, '{$topuser[uid]}', '');"  onmouseout="pop_user_out();"/></a>
                    <a class="pull-left mar-ly-1" onmouseout="pop_user_out();" onmouseover="pop_user_on(this, '{$topuser['uid']}', 'text');" target="_blank" href="{url user/space/$topuser['uid']}">{$topuser['username']}<span class="label   mar-l-03">{$topuser['answers']}回答</span></a>
                 
                </li>
                <!--{/loop}-->
            </ul>

        
      <!-- 关注问题排行榜 -->
<h3 class="font-18 mar-t-05 clearfix">
一周热点问题
</h3>
<hr>
  <ul class="nav">
                <!--{eval $attentionlist=$this->fromcache('attentionlist');}-->
                <!--{loop $attentionlist $index $question}-->
                <!--{eval $index++;}-->
                <li class="b-b-line">
                   
                   
                    <a  title="{$question['title']}" target="_blank" href="{url question/view/$question['id']}">  <i class="quan"></i> {$question['title']}</a>
                </li>
                <!--{/loop}-->
            </ul>   
</div>
</div>


</div>

</div>

<!--{template footer}-->