<div class="questions-footer">
    <div class="wrapper">
        <ul>
            <li><a href="">首页</a></li>
            <li><a href="">招聘英才</a></li>
            <li><a href="">合作及洽谈</a></li>
            <li><a href="">联系我们</a></li>
            <li><a href="">关于我们</a></li>
            <li><a href="">友情链接</a></li>
        </ul>
        <p class="copyright">Copyright 2015 收藏天下（北京）网络有限公司<strong>京ICP备14002416号</strong>北京市朝阳区十里河文化园A座三层 收藏天下</p>
        <div class="footerbox">
            <a rel="nofollow" href="http://localhost/paimai//tzxy/templates/default/images/icpz.jpg" target="_blank"><img src="http://localhost/paimai//tzxy/templates/default/images/footer1.jpg" alt=""></a>
            <a rel="nofollow" target="_blank"><script src="http://kxlogo.knet.cn/seallogo.dll?sn=e16101311010564863hxnr000000&amp;size=0"></script><span style="display:inline-block;position:relative;width:auto;"></span></a><a href="https://ss.knet.cn/verifyseal.dll?sn=e16101311010564863hxnr000000&amp;ct=df&amp;a=1&amp;pa=0.13556069554955008" id="kx_verify" tabindex="-1" target="_blank" kx_type="图标式" style="display:inline-block;"><img src="http://rr.knet.cn/static/images/logo/cnnic.png" style="border:none;" oncontextmenu="return false;" alt="可信网站"></a>
            <a rel="nofollow" href="http://about.58.com/fqz/index.html" target="_blank"><img src="http://localhost/paimai//tzxy/templates/default/images/footer3.jpg" alt=""></a>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $(".owl-carousel").owlCarousel({
            navigation:true,
            afterInit : function(elem){
                var that = this;
                that.owlControls.prependTo(elem)
            }
        });
    });
</script>
</body>
</html>