
.photo01 {
	background: url(http://sctx.oss-cn-beijing.aliyuncs.com/images/shangjia20161111web/zc_01.jpg);
	height: 281px;
}
.photo02 {
	background: url(http://sctx.oss-cn-beijing.aliyuncs.com/images/shangjia20161111web/zc_02.jpg);
	height: 280px;
}
.photo03 {
	background: url(http://sctx.oss-cn-beijing.aliyuncs.com/images/shangjia20161111web/zc_03.jpg);
	height: 281px;
}
.photo04 {
	background: url(http://sctx.oss-cn-beijing.aliyuncs.com/images/shangjia20161111web/zc_04.jpg);
	height: 915px;
}
.photo05 {
	background: url(http://sctx.oss-cn-beijing.aliyuncs.com/images/shangjia20161111web/zc_05.jpg);
	height: 914px;
}
.photo06 {
	background: url(http://sctx.oss-cn-beijing.aliyuncs.com/images/shangjia20161111web/zc_06.jpg);
	height: 915px;
}
.photo07 {
	background: url(http://sctx.oss-cn-beijing.aliyuncs.com/images/shangjia20161111web/zc_07.jpg);
	height: 360px;
}
.photo08 {
	background: url(http://sctx.oss-cn-beijing.aliyuncs.com/images/shangjia20161111web/zc_08.jpg);
	height: 1520px;
}
.photo09 {
	background: url(http://sctx.oss-cn-beijing.aliyuncs.com/images/shangjia20161111web/zc_09.jpg);
	height: 382px;
}
.photo10 {
	background: url(http://sctx.oss-cn-beijing.aliyuncs.com/images/shangjia20161111web/zc_10.jpg);
	height: 588px;
}
.photo11 {
	background: url(http://sctx.oss-cn-beijing.aliyuncs.com/images/shangjia20161111web/zc_11.jpg);
	height: 390px;
}
[class*='photo'] {
	background-position: center top;
	background-repeat: no-repeat;
}
[class*='photo'] img {
	vertical-align: top;
}
.ui-wrap {
	position: relative;
	width: 880px;
	margin: 0 auto;
	overflow: hidden;
}
.ui-wrap.one a {
	display: block;
	width: 100%;
	height: 390px;
}
.ui-wrap.four a {
	display: block;
	float: left;
	width: 196px;
	margin-left: 20px;
	margin-bottom: 18px;
	height: 284px;
}
