@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

html, body, div, span, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, 
a, abbr, acronym, address, big, cite, code, 
del, dfn, em, img, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, tt, var, 
dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td { 
	margin: 0; 
	padding: 0; 
	border: 0; 
	outline: 0; 
	font-weight: inherit; 
	font-style: inherit; 
	font-size: 100%; 
	font-family: inherit; 
	vertical-align: baseline; 
} 
/* remember to define focus styles! */ 
body { 
	line-height: 1; 
	color: black; 
	background: white; 
	font-family: 'Microsoft YaHei';
} 
ol, ul { 
	list-style: none; 
} 
/* tables still need ‘cellspacing=”0″‘ in the markup */ 
table { 
	border-collapse: separate; 
	border-spacing: 0; 
} 
caption, th, td { 
	text-align: left; 
	font-weight: normal; 
} 
blockquote:before, blockquote:after, 
q:before, q:after { 
    content: “”; 
} 
blockquote, q { 
    quotes: “” “”; 
} 
input {-webkit-appearance: none; border: 0;}

::-webkit-input-placeholder { 
    color: #fff; 
    font-family: 'Microsoft YaHei';
} 
a {
	text-decoration: none;
}
.mtb10 { margin: 10px 0 14px;}
.mt20 { margin-top: 20px;}
.wrap {
	max-width: 640px;
	min-width: 320px;
	margin: 0 auto;
}
.banner {
	overflow: hidden;
}
.banner img {
	width: 100%;
	border: 0;
	vertical-align: top;
}
.content {
	background: url(../images/wave.jpg) center top;
    padding: 20px 14px 30px;
    text-align: center;
}

.first {
    width: 100%;
    height: 50px;
}
.first .one,
.first .two {
	display: block;
	float: left;
}
.first .one {
	width: 66%;
	margin-right: 4%;
}
.first .two {
	width: 30%;
}
.first .one input {
	width: 84%;
	margin: 6px 0;
	height: 36px;
	line-height: 24px;
	font-size: 16px;
	float: left;
	background: #bc1112;
	border-radius: 14px;
	padding:  0 8%;
	color: #fff;
}
.first .two a {
	display: inline-block;
	float: left;
	width: 100%;
	height: 48px;
 
}
.icon-get {
	background: url(../images/get-btn.png) no-repeat;
	background-size: contain;
	height: 48px;
	display: block;
}
.note {
	font-size: 12px;
	color: #ffda31;
	margin: 8px 0 4px;
	line-height: 18px;
	text-align: left;
}
.ptwo {
	line-height: 18px;
	margin-bottom: 24px;
}

.icon-command {
	display: inline-block;
	padding: 10px 14px;
	color: #ac4700;
	font-size: 18px;
	font-weight: bold;
	border-radius: 6px;
	background: -webkit-linear-gradient(top,#fff36d, #ffda31); 
	background: linear-gradient(top,#fff36d, #ffda31); 
	-webkit-box-shadow: 0px 3px 0px #ae171a;
	box-shadow: 0px 3px 0px #ae171a;
}

.finger {
    margin: 24px 0 4px;
}
.finger img {
	width: 100%;
}
/* reveal */
.reveal-modal-bg { 
	position: fixed; 
	height: 100%;
	width: 100%;
	background: #000;
	background: rgba(0,0,0,.8);
	z-index: 100;
	display: none;
	top: 0;
	left: 0; 
	}

.reveal-modal {
	visibility: hidden;
	top: 80px !important; 
	left: 0;
	width: 82%;
    margin: 0 4%;
 	background: #fff;
	position: fixed;
	z-index: 101;
	padding: 20px 5% 24px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
	box-shadow: 0 0 10px rgba(0,0,0,.4);
	}
 
.reveal-modal .close-reveal-modal {
	font-size: 32px;
	line-height: .5;
	position: absolute;
	top: 10px;
	right: 10px;
	color: #fff;
	text-shadow: 0 -1px 1px rbga(0,0,0,.6);
	font-weight: bold;
	cursor: pointer;
	} 

.boxes {
	width: 100%;
}

.myModal-login {
	background: url(../images/wave.jpg) repeat-x;
}
.myModal-login .login {
	text-align: center;
}
.myModal-login h2 {
	color: #000;
	font-size: 16px;
	margin: 14px 0;
}
.hp-input {
	margin-bottom: 14px;
	overflow: hidden;
	width: 100%;
}
.hp-input label {
	width: 27%;
	margin-right: 3%;
	line-height: 30px;
	height: 30px;
	float: left;
	color: #fff;
	font-size: 14px;
	text-align: right;
}
.hp-input .hp-case {
	width: 70%;
	float: left;
	background: none;
}
.hp-input .hp-case input {
	border: 1px #fff solid;
	background: none;
	color: #fff;
	font-size: 14px;
	padding: 6px 4%;
	outline: none;
	width: 91%;
}
.hp-case input:hover {
	transition: .2s;
	-webkit-transition: .2s;
    border: 1px #ffda31 solid;
}
.myModal-login .icon-command {
    margin: 10px 0 	6px;
}
.myModal-succeed .icon-command {
    margin: 12px 0 0px;
}
.myModal-succeed {
	background: #ffca3a;
	text-align: center;
	color: #ef3615;
	font-weight: bold;
}
.myModal-succeed h2 {
	font-size: 16px;
	width: 100%;
	height: 16px;
	overflow: hidden;
	text-align: center;
	max-width: 200px;
    margin: 46px auto 10px;
}
.myModal-succeed h2 strong {
	display: inline-block;
}
.myModal-succeed h4 {
	font-size: 18px;
	padding-top: 10px;
	border-top: 1px #e0a700 solid;
}
.myModal-succeed .close-reveal-modal {
	left: 10px;
	text-align: left;
}
.myModal-succeed .moe {
    position: absolute;
    top: -52px;
    right: 10px;
    text-align: right;
}
.myModal-succeed .moe img {
	width: 50%;
}

.icon-command em {
	font-size: 14px;
}
.dough {
    margin-top: 14px;
	color: #ffca3a;
}
.dough h2 {
	font-size: 18px;
	line-height: 26px;
}
.dough h4 {
	font-size: 16px;
	line-height: 30px;
} 
.fly,
.btn-word {
    color: #fff;
    line-height: 30px;
}
.fly {
	font-size: 18px;
}
.btn-word {
	font-size: 14px;
	margin-bottom: 14px;
	display: block;
}

.myModal-share {
	background: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	top: 0 !important;
}
.myModal-share .share img {
	width: 100%;
}

.gain {
	position: relative;
}
.gain .hp-case {
	width: 30%;
}
.btn-gain {
	position: absolute;
	top: 0;
	right: 0;
	color: #ac4700;
	background: #fed000;
	border-radius: 4px;
	padding: 8px;
}