a,abbr,acronym,address,big,blockquote,body,caption,cite,code,dd,del,dfn,div,dl,dt,em,fieldset,form,h1,h2,h3,h4,h5,h6,html,iframe,img,input,ins,kbd,label,legend,li,object,ol,p,pre,q,s,samp,select,small,span,strike,strong,sub,sup,table,tbody,td,textarea,tfoot,th,thead,tr,tt,ul,var {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  vertical-align: baseline;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  font-family: 'Microsoft YaHei'
}

a {
  color: #fff;
  text-decoration: none;
  outline: none;
}

img {
  border: 0;
  background: #fff;
  vertical-align: top
}

.clearfix:after,.clearfix:before {
  display: table;
  content: ""
}

li {
  list-style: none
}

.clearfix:after {
  clear: both
}

body {
  margin: 0 auto;
  max-width: 640px;
  min-width: 320px
}

.rio-photo {
  padding-bottom: 46px
}

.rio-photo img {
  width: 100%;
}

.btn-rio {
  position: fixed;
  bottom: 0;
  z-index: 7;
  width: 100%
}

.btn-rio a {
  float: left;
  display: inline-block;
  width: 50%;
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 46px
}

.btn-rio a:first-child {
  background: #a91115
}

.btn-rio a:last-child {
  background: #d02f34
}

.popup .content {
  position: fixed;
  bottom: 46px;
  z-index: 9;
  display: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 0 6px;
  width: 100%;
  background: #fff;
  -webkit-animation:fadeInUpBig .5s .2s ease both;
  -moz-animation:fadeInUpBig .5s .2s ease both;
}

@-webkit-keyframes fadeInUpBig{
0%{opacity:0;
-webkit-transform:translateY(2000px)}
100%{opacity:1;
-webkit-transform:translateY(0)}
}
@-moz-keyframes fadeInUpBig{
0%{opacity:0;
-moz-transform:translateY(2000px)}
100%{opacity:1;
-moz-transform:translateY(0)}
}

.popup .content input {
  width: 94%;
  height: 40px;
  outline: none -webkit-appearance:none;
  outline: 0;
  margin-left: 3%;
  margin-right: 3%;
  -webkit-appearance: none;
}

.popup .content .select select {
  float: left;
  clear: none;
  margin-right: 5%;
  width: 30%;
  height: 30px;
  background: #fff;
  color: #999
}

.popup .content .select select:last-child {
  margin-right: 0
}

.popup .content textarea {
  margin-bottom: 0!important;
  width: 100%;
  outline: 0;
  text-align: left;
  line-height: 20px;
  -webkit-appearance: none
}

.popup .content input,.popup .content select,.popup .content textarea {
  clear: both;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 6px;
  border: 1px #e5e5e5 solid;
  color: #474747;
  font-size: 16px
}

.popup .content input:focus,.popup .content select:focus,.popup .content textarea:focus {
  border: 1px #D02F34 solid;
  -webkit-transition: .5s;
  transition: .5s
}

.rio-button {
  height: 40px!important;
  border: 1px #d02f34 solid!important;
  background: #d02f34;
  color: #fff!important
}

.close {
  position: absolute;
  top: 28%;
  right: 6px;
  width: 34px;
  height: 34px;
  background: url(../images/iconfont-androidcancel.png) no-repeat center;
  background-size: 100%
}

.mask-layer {
  position: fixed;
  top: 0;
  z-index: 5;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.8)
}
.popup .content .rioimg-up {
	width: 100%;
}
.popup .content .rioimg-top {
	width: 100%;
}
