html, body, div, span, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, 
a, abbr, acronym, address, big, cite, code, 
del, dfn, em, img, ins, kbd, q, s, samp, 
small, strike, strong, sub, sup, tt, var, 
dl, dt, dd, ol, ul, li, 
fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td { 
  margin: 0; 
  padding: 0; 
  border: 0; 
  outline: 0; 
  font-weight: inherit; 
  font-style: inherit; 
  font-size: 100%; 
  font-family: inherit; 
  vertical-align: baseline; 
} 
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
li {list-style: none;}
.clearfix:after {
  clear: both;
}

/**
 * float
 */
.float-r {
  float: right !important;
}

.float-l {
  float: left !important;
}

.float-n {
  float: none !important;
}
em {
  font-style: normal;
}

/**
 * margin
 */
.m-a-0 {
  margin: 0px !important;
}

.m-x-0 {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

.m-y-0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.m-x-auto {
  margin-right: auto;
  margin-left: auto;
}

.m-t-0 {
  margin-top: 0px !important;
}

.m-r-0 {
  margin-right: 0px !important;
}

.m-b-0 {
  margin-bottom: 0px !important;
}

.m-l-0 {
  margin-left: 0px !important;
}

.m-a-5 {
  margin: 5px !important;
}

.m-x-5 {
  margin-right: 5px !important;
  margin-left: 5px !important;
}

.m-y-5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.m-t-5 {
  margin-top: 5px !important;
}

.m-r-5 {
  margin-right: 5px !important;
}

.m-b-5 {
  margin-bottom: 5px !important;
}

.m-l-5 {
  margin-left: 5px !important;
}

.m-a-10 {
  margin: 10px !important;
}

.m-x-10 {
  margin-right: 10px !important;
  margin-left: 10px !important;
}

.m-y-10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.m-t-10 {
  margin-top: 10px !important;
}

.m-r-10 {
  margin-right: 10px !important;
}

.m-b-10 {
  margin-bottom: 10px !important;
}

.m-l-10 {
  margin-left: 10px !important;
}

.m-a-15 {
  margin: 15px !important;
}

.m-x-15 {
  margin-right: 15px !important;
  margin-left: 15px !important;
}

.m-y-15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.m-t-15 {
  margin-top: 15px !important;
}

.m-r-15 {
  margin-right: 15px !important;
}

.m-b-15 {
  margin-bottom: 15px !important;
}

.m-l-15 {
  margin-left: 15px !important;
}

.m-a-20 {
  margin: 20px !important;
}

.m-x-20 {
  margin-right: 20px !important;
  margin-left: 20px !important;
}

.m-y-20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}

.m-t-20 {
  margin-top: 20px !important;
}

.m-r-20 {
  margin-right: 20px !important;
}

.m-b-20 {
  margin-bottom: 20px !important;
}

.m-l-20 {
  margin-left: 20px !important;
}

.m-a-25 {
  margin: 25px !important;
}

.m-x-25 {
  margin-right: 25px !important;
  margin-left: 25px !important;
}

.m-y-25 {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}

.m-t-25 {
  margin-top: 25px !important;
}

.m-r-25 {
  margin-right: 25px !important;
}

.m-b-25 {
  margin-bottom: 25px !important;
}

.m-l-25 {
  margin-left: 25px !important;
}

.m-a-30 {
  margin: 30px !important;
}

.m-x-30 {
  margin-right: 30px !important;
  margin-left: 30px !important;
}

.m-y-30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

.m-t-30 {
  margin-top: 30px !important;
}

.m-r-30 {
  margin-right: 30px !important;
}

.m-b-30 {
  margin-bottom: 30px !important;
}

.m-l-30 {
  margin-left: 30px !important;
}

.m-a-35 {
  margin: 35px !important;
}

.m-x-35 {
  margin-right: 35px !important;
  margin-left: 35px !important;
}

.m-y-35 {
  margin-top: 35px !important;
  margin-bottom: 35px !important;
}

.m-t-35 {
  margin-top: 35px !important;
}

.m-r-35 {
  margin-right: 35px !important;
}

.m-b-35 {
  margin-bottom: 35px !important;
}

.m-l-35 {
  margin-left: 35px !important;
}

.m-a-40 {
  margin: 40px !important;
}

.m-x-40 {
  margin-right: 40px !important;
  margin-left: 40px !important;
}

.m-y-40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}

.m-t-40 {
  margin-top: 40px !important;
}

.m-r-40 {
  margin-right: 40px !important;
}

.m-b-40 {
  margin-bottom: 40px !important;
}

.m-l-40 {
  margin-left: 40px !important;
}

.m-a-45 {
  margin: 45px !important;
}

.m-x-45 {
  margin-right: 45px !important;
  margin-left: 45px !important;
}

.m-y-45 {
  margin-top: 45px !important;
  margin-bottom: 45px !important;
}

.m-t-45 {
  margin-top: 45px !important;
}

.m-r-45 {
  margin-right: 45px !important;
}

.m-b-45 {
  margin-bottom: 45px !important;
}

.m-l-45 {
  margin-left: 45px !important;
}

.m-a-50 {
  margin: 50px !important;
}

.m-x-50 {
  margin-right: 50px !important;
  margin-left: 50px !important;
}

.m-y-50 {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}

.m-t-50 {
  margin-top: 50px !important;
}

.m-r-50 {
  margin-right: 50px !important;
}

.m-b-50 {
  margin-bottom: 50px !important;
}

.m-l-50 {
  margin-left: 50px !important;
}

.m-a- {
  margin: 55px !important;
}

.m-x-55 {
  margin-right: 55px !important;
  margin-left: 55px !important;
}

.m-y-55 {
  margin-top: 55px !important;
  margin-bottom: 55px !important;
}

.m-t-55 {
  margin-top: 55px !important;
}

.m-r-55 {
  margin-right: 55px !important;
}

.m-b-55 {
  margin-bottom: 55px !important;
}

.m-l-55 {
  margin-left: 55px !important;
}

.m-a-60 {
  margin: 60px !important;
}

.m-x-60 {
  margin-right: 60px !important;
  margin-left: 60px !important;
}

.m-y-60 {
  margin-top: 60px !important;
  margin-bottom: 60px !important;
}

.m-t-60 {
  margin-top: 60px !important;
}

.m-r-60 {
  margin-right: 60px !important;
}

.m-b-60 {
  margin-bottom: 60px !important;
}

.m-l-60 {
  margin-left: 60px !important;
}

@media (min-width: 480px) {
  .m-a-0-xs-min {
    margin: 0px !important;
  }
  .m-x-0-xs-min {
    margin-right: 0px !important;
    margin-left: 0px !important;
  }
  .m-y-0-xs-min {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  .m-x-auto-xs-min {
    margin-right: auto;
    margin-left: auto;
  }
  .m-t-0-xs-min {
    margin-top: 0px !important;
  }
  .m-r-0-xs-min {
    margin-right: 0px !important;
  }
  .m-b-0-xs-min {
    margin-bottom: 0px !important;
  }
  .m-l-0-xs-min {
    margin-left: 0px !important;
  }
  .m-a-5-xs-min {
    margin: 5px !important;
  }
  .m-x-5-xs-min {
    margin-right: 5px !important;
    margin-left: 5px !important;
  }
  .m-y-5-xs-min {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
  }
  .m-t-5-xs-min {
    margin-top: 5px !important;
  }
  .m-r-5-xs-min {
    margin-right: 5px !important;
  }
  .m-b-5-xs-min {
    margin-bottom: 5px !important;
  }
  .m-l-5-xs-min {
    margin-left: 5px !important;
  }
  .m-a-10-xs-min {
    margin: 10px !important;
  }
  .m-x-10-xs-min {
    margin-right: 10px !important;
    margin-left: 10px !important;
  }
  .m-y-10-xs-min {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
  .m-t-10-xs-min {
    margin-top: 10px !important;
  }
  .m-r-10-xs-min {
    margin-right: 10px !important;
  }
  .m-b-10-xs-min {
    margin-bottom: 10px !important;
  }
  .m-l-10-xs-min {
    margin-left: 10px !important;
  }
  .m-a-15-xs-min {
    margin: 15px !important;
  }
  .m-x-15-xs-min {
    margin-right: 15px !important;
    margin-left: 15px !important;
  }
  .m-y-15-xs-min {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
  }
  .m-t-15-xs-min {
    margin-top: 15px !important;
  }
  .m-r-15-xs-min {
    margin-right: 15px !important;
  }
  .m-b-15-xs-min {
    margin-bottom: 15px !important;
  }
  .m-l-15-xs-min {
    margin-left: 15px !important;
  }
  .m-a-20-xs-min {
    margin: 20px !important;
  }
  .m-x-20-xs-min {
    margin-right: 20px !important;
    margin-left: 20px !important;
  }
  .m-y-20-xs-min {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
  }
  .m-t-20-xs-min {
    margin-top: 20px !important;
  }
  .m-r-20-xs-min {
    margin-right: 20px !important;
  }
  .m-b-20-xs-min {
    margin-bottom: 20px !important;
  }
  .m-l-20-xs-min {
    margin-left: 20px !important;
  }
  .m-a-25-xs-min {
    margin: 25px !important;
  }
  .m-x-25-xs-min {
    margin-right: 25px !important;
    margin-left: 25px !important;
  }
  .m-y-25-xs-min {
    margin-top: 25px !important;
    margin-bottom: 25px !important;
  }
  .m-t-25-xs-min {
    margin-top: 25px !important;
  }
  .m-r-25-xs-min {
    margin-right: 25px !important;
  }
  .m-b-25-xs-min {
    margin-bottom: 25px !important;
  }
  .m-l-25-xs-min {
    margin-left: 25px !important;
  }
  .m-a-30-xs-min {
    margin: 30px !important;
  }
  .m-x-30-xs-min {
    margin-right: 30px !important;
    margin-left: 30px !important;
  }
  .m-y-30-xs-min {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
  }
  .m-t-30-xs-min {
    margin-top: 30px !important;
  }
  .m-r-30-xs-min {
    margin-right: 30px !important;
  }
  .m-b-30-xs-min {
    margin-bottom: 30px !important;
  }
  .m-l-30-xs-min {
    margin-left: 30px !important;
  }
  .m-a-35-xs-min {
    margin: 35px !important;
  }
  .m-x-35-xs-min {
    margin-right: 35px !important;
    margin-left: 35px !important;
  }
  .m-y-35-xs-min {
    margin-top: 35px !important;
    margin-bottom: 35px !important;
  }
  .m-t-35-xs-min {
    margin-top: 35px !important;
  }
  .m-r-35-xs-min {
    margin-right: 35px !important;
  }
  .m-b-35-xs-min {
    margin-bottom: 35px !important;
  }
  .m-l-35-xs-min {
    margin-left: 35px !important;
  }
  .m-a-40-xs-min {
    margin: 40px !important;
  }
  .m-x-40-xs-min {
    margin-right: 40px !important;
    margin-left: 40px !important;
  }
  .m-y-40-xs-min {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
  }
  .m-t-40-xs-min {
    margin-top: 40px !important;
  }
  .m-r-40-xs-min {
    margin-right: 40px !important;
  }
  .m-b-40-xs-min {
    margin-bottom: 40px !important;
  }
  .m-l-40-xs-min {
    margin-left: 40px !important;
  }
  .m-a-45-xs-min {
    margin: 45px !important;
  }
  .m-x-45-xs-min {
    margin-right: 45px !important;
    margin-left: 45px !important;
  }
  .m-y-45-xs-min {
    margin-top: 45px !important;
    margin-bottom: 45px !important;
  }
  .m-t-45-xs-min {
    margin-top: 45px !important;
  }
  .m-r-45-xs-min {
    margin-right: 45px !important;
  }
  .m-b-45-xs-min {
    margin-bottom: 45px !important;
  }
  .m-l-45-xs-min {
    margin-left: 45px !important;
  }
  .m-a-50-xs-min {
    margin: 50px !important;
  }
  .m-x-50-xs-min {
    margin-right: 50px !important;
    margin-left: 50px !important;
  }
  .m-y-50-xs-min {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
  }
  .m-t-50-xs-min {
    margin-top: 50px !important;
  }
  .m-r-50-xs-min {
    margin-right: 50px !important;
  }
  .m-b-50-xs-min {
    margin-bottom: 50px !important;
  }
  .m-l-50-xs-min {
    margin-left: 50px !important;
  }
  .m-a-55-xs-min {
    margin: 55px !important;
  }
  .m-x-55-xs-min {
    margin-right: 55px !important;
    margin-left: 55px !important;
  }
  .m-y-55-xs-min {
    margin-top: 55px !important;
    margin-bottom: 55px !important;
  }
  .m-t-55-xs-min {
    margin-top: 55px !important;
  }
  .m-r-55-xs-min {
    margin-right: 55px !important;
  }
  .m-b-55-xs-min {
    margin-bottom: 55px !important;
  }
  .m-l-55-xs-min {
    margin-left: 55px !important;
  }
  .m-a-60-xs-min {
    margin: 60px !important;
  }
  .m-x-60-xs-min {
    margin-right: 60px !important;
    margin-left: 60px !important;
  }
  .m-y-60-xs-min {
    margin-top: 60px !important;
    margin-bottom: 60px !important;
  }
  .m-t-60-xs-min {
    margin-top: 60px !important;
  }
  .m-r-60-xs-min {
    margin-right: 60px !important;
  }
  .m-b-60-xs-min {
    margin-bottom: 60px !important;
  }
  .m-l-60-xs-min {
    margin-left: 60px !important;
  }
}
 
/**
 * padding
 */
.p-a-0 {
  padding: 0px !important;
}

.p-x-0 {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.p-y-0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.p-t-0 {
  padding-top: 0px !important;
}

.p-r-0 {
  padding-right: 0px !important;
}

.p-b-0 {
  padding-bottom: 0px !important;
}

.p-l-0 {
  padding-left: 0px !important;
}

.p-a-5 {
  padding: 5px !important;
}

.p-x-5 {
  padding-right: 5px !important;
  padding-left: 5px !important;
}

.p-y-5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.p-t-5 {
  padding-top: 5px !important;
}

.p-r-5 {
  padding-right: 5px !important;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.p-l-5 {
  padding-left: 5px !important;
}

.p-a-10 {
  padding: 10px !important;
}

.p-x-10 {
  padding-right: 10px !important;
  padding-left: 10px !important;
}

.p-y-10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.p-t-10 {
  padding-top: 10px !important;
}

.p-r-10 {
  padding-right: 10px !important;
}

.p-b-10 {
  padding-bottom: 10px !important;
}

.p-l-10 {
  padding-left: 10px !important;
}

.p-a-15 {
  padding: 15px !important;
}

.p-x-15 {
  padding-right: 15px !important;
  padding-left: 15px !important;
}

.p-y-15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.p-t-15 {
  padding-top: 15px !important;
}

.p-r-15 {
  padding-right: 15px !important;
}

.p-b-15 {
  padding-bottom: 15px !important;
}

.p-l-15 {
  padding-left: 15px !important;
}

.p-a-20 {
  padding: 20px !important;
}

.p-x-20 {
  padding-right: 20px !important;
  padding-left: 20px !important;
}

.p-y-20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.p-t-20 {
  padding-top: 20px !important;
}

.p-r-20 {
  padding-right: 20px !important;
}

.p-b-20 {
  padding-bottom: 20px !important;
}

.p-l-20 {
  padding-left: 20px !important;
}

.p-a-25 {
  padding: 25px !important;
}

.p-x-25 {
  padding-right: 25px !important;
  padding-left: 25px !important;
}

.p-y-25 {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}

.p-t-25 {
  padding-top: 25px !important;
}

.p-r-25 {
  padding-right: 25px !important;
}

.p-b-25 {
  padding-bottom: 25px !important;
}

.p-l-25 {
  padding-left: 25px !important;
}

.p-a-30 {
  padding: 30px !important;
}

.p-x-30 {
  padding-right: 30px !important;
  padding-left: 30px !important;
}

.p-y-30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}

.p-t-30 {
  padding-top: 30px !important;
}

.p-r-30 {
  padding-right: 30px !important;
}

.p-b-30 {
  padding-bottom: 30px !important;
}

.p-l-30 {
  padding-left: 30px !important;
}

.p-a-35 {
  padding: 35px !important;
}

.p-x-35 {
  padding-right: 35px !important;
  padding-left: 35px !important;
}

.p-y-35 {
  padding-top: 35px !important;
  padding-bottom: 35px !important;
}

.p-t-35 {
  padding-top: 35px !important;
}

.p-r-35 {
  padding-right: 35px !important;
}

.p-b-35 {
  padding-bottom: 35px !important;
}

.p-l-35 {
  padding-left: 35px !important;
}

.p-a-40 {
  padding: 40px !important;
}

.p-x-40 {
  padding-right: 40px !important;
  padding-left: 40px !important;
}

.p-y-40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}

.p-t-40 {
  padding-top: 40px !important;
}

.p-r-40 {
  padding-right: 40px !important;
}

.p-b-40 {
  padding-bottom: 40px !important;
}

.p-l-40 {
  padding-left: 40px !important;
}

.p-a-45 {
  padding: 45px !important;
}

.p-x-45 {
  padding-right: 45px !important;
  padding-left: 45px !important;
}

.p-y-45 {
  padding-top: 45px !important;
  padding-bottom: 45px !important;
}

.p-t-45 {
  padding-top: 45px !important;
}

.p-r-45 {
  padding-right: 45px !important;
}

.p-b-45 {
  padding-bottom: 45px !important;
}

.p-l-45 {
  padding-left: 45px !important;
}

.p-a-50 {
  padding: 50px !important;
}

.p-x-50 {
  padding-right: 50px !important;
  padding-left: 50px !important;
}

.p-y-50 {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.p-t-50 {
  padding-top: 50px !important;
}

.p-r-50 {
  padding-right: 50px !important;
}

.p-b-50 {
  padding-bottom: 50px !important;
}

.p-l-50 {
  padding-left: 50px !important;
}

.p-a-55 {
  padding: 55px !important;
}

.p-x-55 {
  padding-right: 55px !important;
  padding-left: 55px !important;
}

.p-y-55 {
  padding-top: 55px !important;
  padding-bottom: 55px !important;
}

.p-t-55 {
  padding-top: 55px !important;
}

.p-r-55 {
  padding-right: 55px !important;
}

.p-b-55 {
  padding-bottom: 55px !important;
}

.p-l-55 {
  padding-left: 55px !important;
}

.p-a-60 {
  padding: 60px !important;
}

.p-x-60 {
  padding-right: 60px !important;
  padding-left: 60px !important;
}

.p-y-60 {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}

.p-t-60 {
  padding-top: 60px !important;
}

.p-r-60 {
  padding-right: 60px !important;
}

.p-b-60 {
  padding-bottom: 60px !important;
}

.p-l-60 {
  padding-left: 60px !important;
}

@media (min-width: 480px) {
  .p-a-0-xs-min {
    padding: 0px !important;
  }
  .p-x-0-xs-min {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  .p-y-0-xs-min {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  .p-t-0-xs-min {
    padding-top: 0px !important;
  }
  .p-r-0-xs-min {
    padding-right: 0px !important;
  }
  .p-b-0-xs-min {
    padding-bottom: 0px !important;
  }
  .p-l-0-xs-min {
    padding-left: 0px !important;
  }
  .p-a-5-xs-min {
    padding: 5px !important;
  }
  .p-x-5-xs-min {
    padding-right: 5px !important;
    padding-left: 5px !important;
  }
  .p-y-5-xs-min {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
  .p-t-5-xs-min {
    padding-top: 5px !important;
  }
  .p-r-5-xs-min {
    padding-right: 5px !important;
  }
  .p-b-5-xs-min {
    padding-bottom: 5px !important;
  }
  .p-l-5-xs-min {
    padding-left: 5px !important;
  }
  .p-a-10-xs-min {
    padding: 10px !important;
  }
  .p-x-10-xs-min {
    padding-right: 10px !important;
    padding-left: 10px !important;
  }
  .p-y-10-xs-min {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  .p-t-10-xs-min {
    padding-top: 10px !important;
  }
  .p-r-10-xs-min {
    padding-right: 10px !important;
  }
  .p-b-10-xs-min {
    padding-bottom: 10px !important;
  }
  .p-l-10-xs-min {
    padding-left: 10px !important;
  }
  .p-a-15-xs-min {
    padding: 15px !important;
  }
  .p-x-15-xs-min {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
  .p-y-15-xs-min {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
  .p-t-15-xs-min {
    padding-top: 15px !important;
  }
  .p-r-15-xs-min {
    padding-right: 15px !important;
  }
  .p-b-15-xs-min {
    padding-bottom: 15px !important;
  }
  .p-l-15-xs-min {
    padding-left: 15px !important;
  }
  .p-a-20-xs-min {
    padding: 20px !important;
  }
  .p-x-20-xs-min {
    padding-right: 20px !important;
    padding-left: 20px !important;
  }
  .p-y-20-xs-min {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
  .p-t-20-xs-min {
    padding-top: 20px !important;
  }
  .p-r-20-xs-min {
    padding-right: 20px !important;
  }
  .p-b-20-xs-min {
    padding-bottom: 20px !important;
  }
  .p-l-20-xs-min {
    padding-left: 20px !important;
  }
  .p-a-25-xs-min {
    padding: 25px !important;
  }
  .p-x-25-xs-min {
    padding-right: 25px !important;
    padding-left: 25px !important;
  }
  .p-y-25-xs-min {
    padding-top: 25px !important;
    padding-bottom: 25px !important;
  }
  .p-t-25-xs-min {
    padding-top: 25px !important;
  }
  .p-r-25-xs-min {
    padding-right: 25px !important;
  }
  .p-b-25-xs-min {
    padding-bottom: 25px !important;
  }
  .p-l-25-xs-min {
    padding-left: 25px !important;
  }
  .p-a-30-xs-min {
    padding: 30px !important;
  }
  .p-x-30-xs-min {
    padding-right: 30px !important;
    padding-left: 30px !important;
  }
  .p-y-30-xs-min {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }
  .p-t-30-xs-min {
    padding-top: 30px !important;
  }
  .p-r-30-xs-min {
    padding-right: 30px !important;
  }
  .p-b-30-xs-min {
    padding-bottom: 30px !important;
  }
  .p-l-30-xs-min {
    padding-left: 30px !important;
  }
  .p-a-35-xs-min {
    padding: 35px !important;
  }
  .p-x-35-xs-min {
    padding-right: 35px !important;
    padding-left: 35px !important;
  }
  .p-y-35-xs-min {
    padding-top: 35px !important;
    padding-bottom: 35px !important;
  }
  .p-t-35-xs-min {
    padding-top: 35px !important;
  }
  .p-r-35-xs-min {
    padding-right: 35px !important;
  }
  .p-b-35-xs-min {
    padding-bottom: 35px !important;
  }
  .p-l-35-xs-min {
    padding-left: 35px !important;
  }
  .p-a-40-xs-min {
    padding: 40px !important;
  }
  .p-x-40-xs-min {
    padding-right: 40px !important;
    padding-left: 40px !important;
  }
  .p-y-40-xs-min {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
  }
  .p-t-40-xs-min {
    padding-top: 40px !important;
  }
  .p-r-40-xs-min {
    padding-right: 40px !important;
  }
  .p-b-40-xs-min {
    padding-bottom: 40px !important;
  }
  .p-l-40-xs-min {
    padding-left: 40px !important;
  }
  .p-a-45-xs-min {
    padding: 45px !important;
  }
  .p-x-45-xs-min {
    padding-right: 45px !important;
    padding-left: 45px !important;
  }
  .p-y-45-xs-min {
    padding-top: 45px !important;
    padding-bottom: 45px !important;
  }
  .p-t-45-xs-min {
    padding-top: 45px !important;
  }
  .p-r-45-xs-min {
    padding-right: 45px !important;
  }
  .p-b-45-xs-min {
    padding-bottom: 45px !important;
  }
  .p-l-45-xs-min {
    padding-left: 45px !important;
  }
  .p-a-50-xs-min {
    padding: 50px !important;
  }
  .p-x-50-xs-min {
    padding-right: 50px !important;
    padding-left: 50px !important;
  }
  .p-y-50-xs-min {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }
  .p-t-50-xs-min {
    padding-top: 50px !important;
  }
  .p-r-50-xs-min {
    padding-right: 50px !important;
  }
  .p-b-50-xs-min {
    padding-bottom: 50px !important;
  }
  .p-l-50-xs-min {
    padding-left: 50px !important;
  }
  .p-a-55-xs-min {
    padding: 55px !important;
  }
  .p-x-55-xs-min {
    padding-right: 55px !important;
    padding-left: 55px !important;
  }
  .p-y-55-xs-min {
    padding-top: 55px !important;
    padding-bottom: 55px !important;
  }
  .p-t-55-xs-min {
    padding-top: 55px !important;
  }
  .p-r-55-xs-min {
    padding-right: 55px !important;
  }
  .p-b-55-xs-min {
    padding-bottom: 55px !important;
  }
  .p-l-55-xs-min {
    padding-left: 55px !important;
  }
  .p-a-60-xs-min {
    padding: 60px !important;
  }
  .p-x-60-xs-min {
    padding-right: 60px !important;
    padding-left: 60px !important;
  }
  .p-y-60-xs-min {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
  }
  .p-t-60-xs-min {
    padding-top: 60px !important;
  }
  .p-r-60-xs-min {
    padding-right: 60px !important;
  }
  .p-b-60-xs-min {
    padding-bottom: 60px !important;
  }
  .p-l-60-xs-min {
    padding-left: 60px !important;
  }
}
@media (max-width: 767px) {
  .p-a-0-xs-max {
    padding: 0px !important;
  }
  .p-x-0-xs-max {
    padding-right: 0px !important;
    padding-left: 0px !important;
  }
  .p-y-0-xs-max {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  .p-t-0-xs-max {
    padding-top: 0px !important;
  }
  .p-r-0-xs-max {
    padding-right: 0px !important;
  }
  .p-b-0-xs-max {
    padding-bottom: 0px !important;
  }
  .p-l-0-xs-max {
    padding-left: 0px !important;
  }
  .p-a-5-xs-max {
    padding: 5px !important;
  }
  .p-x-5-xs-max {
    padding-right: 5px !important;
    padding-left: 5px !important;
  }
  .p-y-5-xs-max {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
  .p-t-5-xs-max {
    padding-top: 5px !important;
  }
  .p-r-5-xs-max {
    padding-right: 5px !important;
  }
  .p-b-5-xs-max {
    padding-bottom: 5px !important;
  }
  .p-l-5-xs-max {
    padding-left: 5px !important;
  }
  .p-a-10-xs-max {
    padding: 10px !important;
  }
  .p-x-10-xs-max {
    padding-right: 10px !important;
    padding-left: 10px !important;
  }
  .p-y-10-xs-max {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  .p-t-10-xs-max {
    padding-top: 10px !important;
  }
  .p-r-10-xs-max {
    padding-right: 10px !important;
  }
  .p-b-10-xs-max {
    padding-bottom: 10px !important;
  }
  .p-l-10-xs-max {
    padding-left: 10px !important;
  }
  .p-a-15-xs-max {
    padding: 15px !important;
  }
  .p-x-15-xs-max {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
  .p-y-15-xs-max {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
  .p-t-15-xs-max {
    padding-top: 15px !important;
  }
  .p-r-15-xs-max {
    padding-right: 15px !important;
  }
  .p-b-15-xs-max {
    padding-bottom: 15px !important;
  }
  .p-l-15-xs-max {
    padding-left: 15px !important;
  }
  .p-a-20-xs-max {
    padding: 20px !important;
  }
  .p-x-20-xs-max {
    padding-right: 20px !important;
    padding-left: 20px !important;
  }
  .p-y-20-xs-max {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
  }
  .p-t-20-xs-max {
    padding-top: 20px !important;
  }
  .p-r-20-xs-max {
    padding-right: 20px !important;
  }
  .p-b-20-xs-max {
    padding-bottom: 20px !important;
  }
  .p-l-20-xs-max {
    padding-left: 20px !important;
  }
  .p-a-25-xs-max {
    padding: 25px !important;
  }
  .p-x-25-xs-max {
    padding-right: 25px !important;
    padding-left: 25px !important;
  }
  .p-y-25-xs-max {
    padding-top: 25px !important;
    padding-bottom: 25px !important;
  }
  .p-t-25-xs-max {
    padding-top: 25px !important;
  }
  .p-r-25-xs-max {
    padding-right: 25px !important;
  }
  .p-b-25-xs-max {
    padding-bottom: 25px !important;
  }
  .p-l-25-xs-max {
    padding-left: 25px !important;
  }
  .p-a-30-xs-max {
    padding: 30px !important;
  }
  .p-x-30-xs-max {
    padding-right: 30px !important;
    padding-left: 30px !important;
  }
  .p-y-30-xs-max {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }
  .p-t-30-xs-max {
    padding-top: 30px !important;
  }
  .p-r-30-xs-max {
    padding-right: 30px !important;
  }
  .p-b-30-xs-max {
    padding-bottom: 30px !important;
  }
  .p-l-30-xs-max {
    padding-left: 30px !important;
  }
  .p-a-35-xs-max {
    padding: 35px !important;
  }
  .p-x-35-xs-max {
    padding-right: 35px !important;
    padding-left: 35px !important;
  }
  .p-y-35-xs-max {
    padding-top: 35px !important;
    padding-bottom: 35px !important;
  }
  .p-t-35-xs-max {
    padding-top: 35px !important;
  }
  .p-r-35-xs-max {
    padding-right: 35px !important;
  }
  .p-b-35-xs-max {
    padding-bottom: 35px !important;
  }
  .p-l-35-xs-max {
    padding-left: 35px !important;
  }
  .p-a-40-xs-max {
    padding: 40px !important;
  }
  .p-x-40-xs-max {
    padding-right: 40px !important;
    padding-left: 40px !important;
  }
  .p-y-40-xs-max {
    padding-top: 40px !important;
    padding-bottom: 40px !important;
  }
  .p-t-40-xs-max {
    padding-top: 40px !important;
  }
  .p-r-40-xs-max {
    padding-right: 40px !important;
  }
  .p-b-40-xs-max {
    padding-bottom: 40px !important;
  }
  .p-l-40-xs-max {
    padding-left: 40px !important;
  }
  .p-a-45-xs-max {
    padding: 45px !important;
  }
  .p-x-45-xs-max {
    padding-right: 45px !important;
    padding-left: 45px !important;
  }
  .p-y-45-xs-max {
    padding-top: 45px !important;
    padding-bottom: 45px !important;
  }
  .p-t-45-xs-max {
    padding-top: 45px !important;
  }
  .p-r-45-xs-max {
    padding-right: 45px !important;
  }
  .p-b-45-xs-max {
    padding-bottom: 45px !important;
  }
  .p-l-45-xs-max {
    padding-left: 45px !important;
  }
  .p-a-50-xs-max {
    padding: 50px !important;
  }
  .p-x-50-xs-max {
    padding-right: 50px !important;
    padding-left: 50px !important;
  }
  .p-y-50-xs-max {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
  }
  .p-t-50-xs-max {
    padding-top: 50px !important;
  }
  .p-r-50-xs-max {
    padding-right: 50px !important;
  }
  .p-b-50-xs-max {
    padding-bottom: 50px !important;
  }
  .p-l-50-xs-max {
    padding-left: 50px !important;
  }
  .p-a-55-xs-max {
    padding: 55px !important;
  }
  .p-x-55-xs-max {
    padding-right: 55px !important;
    padding-left: 55px !important;
  }
  .p-y-55-xs-max {
    padding-top: 55px !important;
    padding-bottom: 55px !important;
  }
  .p-t-55-xs-max {
    padding-top: 55px !important;
  }
  .p-r-55-xs-max {
    padding-right: 55px !important;
  }
  .p-b-55-xs-max {
    padding-bottom: 55px !important;
  }
  .p-l-55-xs-max {
    padding-left: 55px !important;
  }
  .p-a-60-xs-max {
    padding: 60px !important;
  }
  .p-x-60-xs-max {
    padding-right: 60px !important;
    padding-left: 60px !important;
  }
  .p-y-60-xs-max {
    padding-top: 60px !important;
    padding-bottom: 60px !important;
  }
  .p-t-60-xs-max {
    padding-top: 60px !important;
  }
  .p-r-60-xs-max {
    padding-right: 60px !important;
  }
  .p-b-60-xs-max {
    padding-bottom: 60px !important;
  }
  .p-l-60-xs-max {
    padding-left: 60px !important;
  }
}
 
/**
 * scroll
 */
.js-scroll {
  -ms-overflow-style: scrollbar;
  overflow-x: hidden;
  overflow-y: auto;
}

.scroll-x {
  -ms-overflow-style: scrollbar;
  overflow-x: auto;
  overflow-y: hidden;
}

.scroll-y {
  -ms-overflow-style: scrollbar;
  overflow-x: hidden;
  overflow-y: auto;
}

/**
 * color
 */
.block-default {
  background-color: #fff;
  color: #313131;
}
 
.block-default a:not(.btn) {
  color: #786de4;
}

.block-default a:not(.btn):focus,
.block-default a:not(.btn):hover {
  color: #6c62cd;
  text-decoration: none;
}

.color-default {
  color: #fff !important;
}

.block-invert {
  background-color: #212121;
  color: white;
}
 
.block-invert a:not(.btn) {
  color: #fff;
}

.block-invert a:not(.btn):focus,
.block-invert a:not(.btn):hover {
  color: #e5e5e5;
  text-decoration: none;
}

.color-invert {
  color: #212121 !important;
}

.block-light {
  background-color: #f4f5f9;
  color: #313131;
}
 

.block-light a:not(.btn) {
  color: #786de4;
}

.block-light a:not(.btn):focus,
.block-light a:not(.btn):hover {
  color: #6c62cd;
  text-decoration: none;
}

.color-light {
  color: #f4f5f9 !important;
}
 
.color-primary {
  color: #786de4 !important;
}

.block-info {
  background-color: #1080f2;
  color: white;
}

 
.block-info a:not(.btn) {
  color: #fff;
}

.block-info a:not(.btn):focus,
.block-info a:not(.btn):hover {
  color: #e5e5e5;
  text-decoration: none;
}

.color-info {
  color: #1080f2 !important;
}

.block-success {
  background-color: #10cfbd;
  color: white;
}
 
.block-success a:not(.btn) {
  color: #fff;
}

.block-success a:not(.btn):focus,
.block-success a:not(.btn):hover {
  color: #e5e5e5;
  text-decoration: none;
}

.color-success {
  color: #10cfbd !important;
}

.block-warning {
  background-color: #fbb03b;
  color: white;
}
 

.block-warning a:not(.btn) {
  color: #fff;
}

.block-warning a:not(.btn):focus,
.block-warning a:not(.btn):hover {
  color: #e5e5e5;
  text-decoration: none;
}

.color-warning {
  color: #fbb03b !important;
}

.block-danger {
  background-color: #ff5454;
  color: white;
}
 
.block-danger a:not(.btn) {
  color: #fff;
}

.block-danger a:not(.btn):focus,
.block-danger a:not(.btn):hover {
  color: #e5e5e5;
  text-decoration: none;
}

.color-danger {
  color: #ff5454 !important;
}

.block-pink {
  background-color: #ec5298;
  color: white;
}
 
.block-pink a:not(.btn) {
  color: #fff;
}

.block-pink a:not(.btn):focus,
.block-pink a:not(.btn):hover {
  color: #e5e5e5;
  text-decoration: none;
}

.color-pink {
  color: #ec5298 !important;
}

/**
 * font family
 */
.font-default {
  font-family: "Open Sans", Arial, sans-serif;
}

.font-alt {
  font-family: "Open Sans", Arial, sans-serif;
}

.font-sub {
  font-family: Merriweather, "Times New Roman", Times, serif;
}

/**
 * font style
 */
.font-italic {
  font-style: italic;
}

/**
 * font weight
 */
.font-light {
  font-weight: light;
}

.font-normal {
  font-weight: normal;
}

.font-bold {
  font-weight: bold;
}

/**
 * align
 */
.align-r {
  text-align: right !important;
}

.align-l {
  text-align: left !important;
}

.align-c {
  text-align: center !important;
}

@media (min-width: 480px) {
  .align-r-xs-min {
    text-align: right !important;
  }
  .align-l-xs-min {
    text-align: left !important;
  }
  .align-c-xs-min {
    text-align: center !important;
  }
}

@media (min-width: 768px) {
  .align-r-sm-min {
    text-align: right !important;
  }
  .align-l-sm-min {
    text-align: left !important;
  }
  .align-c-sm-min {
    text-align: center !important;
  }
}

@media (min-width: 992px) {
  .align-r-md-min {
    text-align: right !important;
  }
  .align-l-md-min {
    text-align: left !important;
  }
  .align-c-md-min {
    text-align: center !important;
  }
}

@media (max-width: 767px) {
  .align-r-xs-max {
    text-align: right !important;
  }
  .align-l-xs-max {
    text-align: left !important;
  }
  .align-c-xs-max {
    text-align: center !important;
  }
}

@media (max-width: 991px) {
  .align-r-sm-max {
    text-align: right !important;
  }
  .align-l-sm-max {
    text-align: left !important;
  }
  .align-c-sm-max {
    text-align: center !important;
  }
}

@media (max-width: 1199px) {
  .align-r-md-max {
    text-align: right !important;
  }
  .align-l-md-max {
    text-align: left !important;
  }
  .align-c-md-max {
    text-align: center !important;
  }
}

.align-t {
  vertical-align: top !important;
}

.align-m {
  vertical-align: middle !important;
}

.align-b {
  vertical-align: bottom !important;
}

@media (min-width: 480px) {
  .align-t-xs-min {
    vertical-align: top !important;
  }
  .align-m-xs-min {
    vertical-align: middle !important;
  }
  .align-b-xs-min {
    vertical-align: bottom !important;
  }
}

@media (min-width: 768px) {
  .align-t-sm-min {
    vertical-align: top !important;
  }
  .align-m-sm-min {
    vertical-align: middle !important;
  }
  .align-b-sm-min {
    vertical-align: bottom !important;
  }
}

@media (min-width: 992px) {
  .align-t-md-min {
    vertical-align: top !important;
  }
  .align-m-md-min {
    vertical-align: middle !important;
  }
  .align-b-md-min {
    vertical-align: bottom !important;
  }
}

@media (max-width: 767px) {
  .align-t-xs-max {
    vertical-align: top !important;
  }
  .align-m-xs-max {
    vertical-align: middle !important;
  }
  .align-b-xs-max {
    vertical-align: bottom !important;
  }
}

@media (max-width: 991px) {
  .align-t-sm-max {
    vertical-align: top !important;
  }
  .align-m-sm-max {
    vertical-align: middle !important;
  }
  .align-b-sm-max {
    vertical-align: bottom !important;
  }
}

@media (max-width: 1199px) {
  .align-t-md-max {
    vertical-align: top !important;
  }
  .align-m-md-max {
    vertical-align: middle !important;
  }
  .align-b-md-max {
    vertical-align: bottom !important;
  }
}

/**
 * text transform
 */
.text-cap {
  text-transform: capitalize;
}

.text-lower {
  text-transform: lowercase;
}

.text-upper {
  text-transform: uppercase;
}

/**
 * base
 * --------------------------------------------------
 */
*,
*:active:focus,
*:focus {
  outline: 0 !important;
}

*:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

@-webkit-viewport {
  width: device-width;
}

@-moz-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

html {
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
}

body {
  max-width: 640px;
  margin: 0 auto;
  min-width: 320px;
  line-height: 1.9;
  background-color: #fff;
  color: #212121;
  font-family: "Microsoft YaHei";
  letter-spacing: 0;
  overflow-x: hidden;
}

@media (min-width: 768px) {
  body {
    font-size: 15px;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 900;
  text-transform: capitalize;
  letter-spacing: 0;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
  color: #837072;
  font-weight: normal;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 13px;
}

h6 {
  font-size: 12px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 14px;
  }
  h6 {
    font-size: 12px;
  }
}

p,
ul,
ol {
  margin-bottom: 30px;
}

p:last-child,
ul:last-child,
ol:last-child {
  margin-bottom: 0;
}

a {
  -webkit-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
  color: #212121;
}

a:focus,
a:hover {
  color: #373737;
  text-decoration: none;
}

i {
  letter-spacing: 0;
}

.velocity-animating {
  -webkit-transition: none !important;
       -o-transition: none !important;
          transition: none !important;
}

@media (max-width: 767px) {
  .animated {
    -webkit-animation: none;
         -o-animation: none;
            animation: none;
  }
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

@media (min-width: 768px) {
  .col-table-cell-middle {
    float: none;
    display: table-cell;
    vertical-align: middle;
  }
  .col-table-cell-middle:before,
  .col-table-cell-middle:after {
    content: "";
    display: table;
  }
  .col-table-cell-middle:after {
    clear: both;
  }
}

@media (min-width: 768px) {
  .equal-height-table {
    display: table;
    table-layout: fixed;
  }
}

@media (min-width: 768px) {
  .equal-height-table-cell-top {
    display: table-cell;
    vertical-align: top;
  }
}

@media (min-width: 768px) {
  .equal-height-table-cell-middle {
    display: table-cell;
    vertical-align: middle;
  }
}

@media (min-width: 768px) {
  .equal-height-table-cell-bottom {
    display: table-cell;
    vertical-align: bottom;
  }
}

@media (min-width: 768px) {
  .row-table {
    display: table;
    table-layout: fixed;
  }
  .row-table > [class*=col-] {
    float: none;
    display: table-cell;
    vertical-align: middle;
  }
  .container > .row-table {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container > .row-table {
    width: 970px;
  }
  .row-table > [class*=col-].col-md-p-r-1 {
    padding-right: 8.33333333%;
  }
  .row-table > [class*=col-].col-md-p-l-1 {
    padding-left: 8.33333333%;
  }
}

@media (min-width: 1200px) {
  .container > .row-table {
    width: 1170px;
  }
}

@media (max-width: 767px) {
  .container,
  .max-width {
    max-width: 480px;
  }
}

.is-desktop:not(.ie9) [data-sr] {
  visibility: hidden;
}

/**
 * form
 * --------------------------------------------------
 */
.form-control {
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #212121;
}

.form-control::-webkit-input-placeholder {
  color: #fff;
}

.form-control::-moz-placeholder {
  color: #fff;
}

.form-control:-ms-input-placeholder {
  color: #fff;
}

.form-control::-ms-input-placeholder {
  color: #fff;
}

form .required {
  position: relative;
}

form .required:after {
  position: absolute;
  top: 15px;
  right: 20px;
  content: "*";
  line-height: 1;
  color: #ff5454;
  font-family: Arial, sans-serif;
  font-size: 20px;
}

.form-group {
  margin-bottom: 14px;
  overflow: hidden;
}

.form-label {
  font-size: 14px;
  margin-bottom: 0;
  line-height: 34px;
  height: 34px;
  font-size: 12px;
  color: #fff;
  float: left;
  text-transform: capitalize;
  width: 24%;
}

.form-control {
  float: left;
  border-width: 0;
  -webkit-border-radius: 6px;
          border-radius: 6px;
          color: #fff;
  border: 1px #fff solid;
  background-color: transparent;
  width: 100%;
  height: 32px;
  font-size: 14px;
  padding: 0 10px;
  line-height: 32px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
/**
 * button
 * --------------------------------------------------
 */
.btn {
  -webkit-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
  line-height: 1;
  overflow: hidden;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  text-transform: uppercase;
}

.btn-primary {
  border: none;
  font-size: 20px;
  font-family: 'Microsoft YaHei';
  font-weight: bold;
  padding: 10px 0;
  background-color: #fff;
  color: #a91133;
  width: 100%;
}

.btn-primary:focus,
.btn-primary:hover {
  border-color: #8177e5;
  background-color: #8177e5;
  color: #fff;
}

.btn-primary:active,
.btn-primary:active:focus,
.btn-primary:active:hover {
  border-color: #786de4;
  background-color: #786de4;
  color: #fff;
}

.icon-box {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .icon-box {
    margin-bottom: 40px;
  }
}

.icon-box-media i {
  height: 48px;
  line-height: 48px;
  font-size: 36px;
}

.icon-box-media img {
  display: block;
  height: 50px;
  line-height: 50px;
}

@media (min-width: 768px) {
  .icon-box-media i {
    height: 56px;
    line-height: 56px;
    font-size: 36px;
    width: 100%;
  }
  .icon-box-media img {
    display: block;
    height: 56px;
    line-height: 56px;
  }
}

.icon-box._center {
  text-align: center;
}

.icon-box._center .icon-box-media {
  padding-top: 10px;
}

.icon-box._center .icon-box-media img {
  margin-right: auto;
  margin-left: auto;
}

.icon-box._center .icon-box-heading {
  margin-top: 20px;
}

.icon-box._center .icon-box-content {
  margin-top: 20px;
}

.icon-box._left {
  position: relative;
  padding-left: 78px;
  text-align: left;
}

.icon-box._left .icon-box-media {
  position: absolute;
  top: 0;
  left: 0;
}

@media (min-width: 768px) {
  .icon-box._left {
    padding-left: 76px;
  }
}

/**
 * site loader
 * --------------------------------------------------
 */
.site-loader {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  z-index: 900;
  background-color: #10cfbd;
}

.site-loader-spinner {
  -webkit-animation: spinner 0.75s infinite linear;
       -o-animation: spinner 0.75s infinite linear;
          animation: spinner 0.75s infinite linear;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  margin-top: -40px;
  margin-left: -40px;
  border: 20px solid #fff;
  border-right-color: transparent;
  -webkit-border-radius: 50%;
          border-radius: 50%;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-o-keyframes spinner {
  0% {
    -o-transform: rotate(0deg);
       transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(360deg);
       transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.site,
.site-canvas,
.site-main {
  position: relative;
}

.section {
  position: relative;
  padding: 0;
}

@media (min-width: 768px) {
  .section {
    padding: 90px 0;
  }
}

.section-heading h1,
.section-heading h2 {
  margin-bottom: 0;
}


.section-content {
  margin-top: 20px;
}

@media (min-width: 768px) {
  .section-content {
    margin-top: 0;
  }
}
/**
 * home
 * --------------------------------------------------
 */
/* home section padding */
#home,
#second,
#thirdly {
  padding: 0 0 15px;
  height: 500px;
  position: relative;
}
#contact {
  padding: 0 0 15px;
  position: relative;
}
@media (max-width: 639px) {
  #home {
     height: 480px;
  }
}

/**
 * contact
 * --------------------------------------------------
 */
#contact {
  /* hold */
}

/**
 * site footer
 * --------------------------------------------------
 */
.site-footer {
  padding: 60px 0;
  text-align: center;
}

@media (min-width: 768px) {
  .site-footer {
    padding: 90px 0;
  }
}

.site-footer-logo {
  margin: 0 auto 20px;
}

@media (min-width: 768px) {
  .site-footer-logo {
    margin-bottom: 30px;
  }
}

.site-footer-social-list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.site-footer-social-list li {
  display: inline-block;
  margin: 5px 10px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .site-footer-social-list {
    margin: 5px 15px;
  }
}

.site-footer-copyright {
  opacity: 0.5;
  margin-top: 30px;
}



/* 20160401 */
h1 strong {
  position: relative;
}
h1 strong i {
    font-style: normal;
    font-size: 4.5em;
    color: #e4234e;
    margin-left: 50px;
}
}
.section-heading h1 {
  text-align: center;
}
.section-heading h1 span {
  position: absolute;
  top: -64px;
  left: 10px;
  line-height: 22px;
  padding: 4px 0;
  width: 30px;
  background: #e4234e;
  border-radius: 6px;
  display: table-caption !important;
  font-size: .8em !important;
  color: #fff;
}

#home .section-heading p {
  text-align: left;
}
#home.block-primary {
  background: #fff url(../images/home.jpg) no-repeat center bottom;
  background-size: 100%;
  color: #000;
  text-align: center;
}
#second.block-primary {
  background: #fff url(../images/second.jpg) no-repeat center bottom;
  background-size: 100%;
  color: #000;
}
#contact.contact {
  background: #d4274d url(../images/contact.jpg) no-repeat center top;
  background-size: 100%;
  color: #000;
}
.section-heading h4 span {
  display: block;
  background: #e4234e;
  height: 2px;
  margin-bottom: -10px;
}
.section-heading h4 {
  font-size: 15px;
  color: #e4234e;
  margin-top: 16px;
}
.section-heading h4 strong {
  display: inline-block;
  text-align: center;
  background: #fff;
  padding: 0 10px;
}
.section-heading p {
  margin-bottom: 10px;
  text-align: center;
  color: #555;
  font-size: 13px;
}

.btn2 {
  position: absolute;
  bottom: -28px;
  left: 45%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  width: 35px;
  height: 35px;
  z-index: 9;
  display: inline-block;
  margin-bottom: 10px;
  border-radius: 50%;
  font-family: "Arial";
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
  color: #e4234e !important;
  background: #fff url(../images/icon-up.jpg) no-repeat center 12px;
  background-size: 78%;
}
.container {
  padding: 0 15px;
}

.second .section-heading {
  padding-top: 16px;
}
.second h5 {
  font-size: 16px;
  color: #fff;
  font-weight: normal;
  text-align: center;
  margin: 40px 0 4px
}
.second h5 em {
  font-size: 22px;
  line-height: 23px;
  font-weight: bold;
  position: relative;
}
.second h5 em:after {
  color: #fff;
  content: '';
  position: absolute;
  top: -24px;
  left: 30%;
  display: block;
  width: 14px;
  height: 14px;
  border: 3px #fff solid;
  border-radius: 20px;
}
.second p {
  font-size: 14px;
  color: #fff;
  text-align: center;
  margin-bottom: 0;
  margin: 0;
  line-height: 20px;
}

.thirdly {
  background: #efefef;
}
.thirdly h2 {
  font-size: 28px;
  color: #e4234e;
  padding: 28px 0 6px;
}
.thirdly h4 {
  margin: 0;
  font-size: 18px;
  color: #6b6b6b;
  font-weight: normal;
  line-height: 26px;
}
.thirdly ul {
  margin-top: 10px;
}
.thirdly ul li {
  border-bottom: 1px #edc6cf solid;
  overflow: hidden;
  width: 100%;
  text-align: center;
  clear: both;
}
.thirdly ul li:first-child {
  background: #e4234e;
}
.thirdly ul li:first-child p {
  border: none !important;
  color: #fff;
  padding: 10px 0;
  line-height: 20px !important;
  font-weight: bold;
  text-align: center;
}
.thirdly ul li p{
  float: left;
  font-size: 12px;
  display: block;
  height: 40px;
  box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  margin: 0;
  border-right: 1px #edc6cf solid;
}
.thirdly ul li p:first-child {
  text-align: left;
  padding-left: 4px;
}
.thirdly ul {
  padding: 0;
  width: 100%;
}
.thirdly ul li p:first-child {
  width: 26%;
  line-height: 40px;
}
.thirdly ul li p:nth-child(2) {
  line-height: 40px;
  width: 24%;
}
.thirdly ul li p:nth-child(3) {
  width: 28%;
}
.thirdly ul li p:nth-child(4) {
  width: 22%;
  border-right: none;
}
.thirdly ul li p em {
 
}
.thirdly ul li p em,
.thirdly ul li p strong {
  display: block;
  height: 15px;
  color: #e4234e;
}
.thirdly ul li p em {
  color: #999;
  text-decoration:line-through;
}

.contact {
  padding-top: 34px !important;
}
.contact h2,
.contact h3 {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  line-height: 34px;
}
.contact p {
  margin: 0;
  color: #fff;
  font-size: 14px;
}

.contact-me {
  border: 2px #ff3763 dashed;
  margin: 10px 15px 20px;
  overflow: hidden;
  padding: 20px 16px 10px;
}
.col-inner {
  margin: 0 12px;
  overflow:auto;
}
.contact-me p {
  font-family: 'Impact';
  font-size: 18px;
  text-align: right;
  clear: both;
  line-height:26px;
}
.contact-me p em {
  font-size: 14px;
  line-height: 26px;
  margin-right: 6px;
  float: right;
  font-family: 'Microsoft YaHei';
}
.contact-me p strong,
.contact-me p a {
  float: right;
  color: #fff !important;
}
.icon-phone {
  background: url(../images/phone.png) no-repeat center;
  background-size: 100%;
  width: 30px;
  height: 33px;
  display: block;
  float: right;
}
.contact-me .icon-phone  {
  margin: -8px 10px 0 0;
}
.thirdly .col-inner {
  margin: 0;
}

.only-me {
  font-size: 18px !important;
  margin-left: 12px !important;
  margin-bottom: 6px !important;
}

.form-notify {
  color: #fff !important;
  text-align: center;
  font-size: 16px;
  display: block;
  margin: 10px 0;
}