<!DOCTYPE HTML>
<html>
<head>
<meta charset="gb2312">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta content="telephone=no" name="format-detection" />
<title>书画市场 - 登录</title>
<link href="{[$DIR]}css/style.css" rel="stylesheet" type="text/css">
</head>

<body>
<form>
{[include file="tpl/show/inc/top.html"]}

<div class="dqwz" style="border-bottom:1px solid #d5d5d5;">
     <a href="###" style="">首页</a>
     <span>&nbsp;</span>
     <a href="###" style="color:#999;">登录</a>
</div>

<!---普通注册内容 kaishi--->
<div class="zc_form" id="con_one_1">
     <ul><li class="zd1">账号</li><li class="zd2"><input class="input_zck" name="" type="text"></li></ul>
     <ul><li class="zd1">密码</li><li class="zd2"><input class="input_zck" name="" type="password"></li></ul>
     <div style="font-size:12px; font-family:'宋体'; color:#999; padding:0px 10px; line-height:30px;">
     <a href="###" style="color:#ff9702; float:right;">忘记密码？</a>
    <label>
      <input style="vertical-align:middle;" type="checkbox" name="CheckboxGroup1" value="复选框" id="CheckboxGroup1_0">
      与当前微信号（{[$openid]}）绑定</label>
</div>
</div>
<!---普通注册内容 jieshu--->

<div class="tijiao_but"><a href="###">登录</a></div>

<div style="color:#999; padding-left:15px; line-height:40px;">还没有搜藏账号？<a href="###" style="color:#e33a3d;">免费注册></a></div>
</form>
{[include file="tpl/show/inc/bottom.html"]}
</body>
</html>
