<!DOCTYPE HTML>
<html>
<head>
<meta charset="gb2312">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta content="telephone=no" name="format-detection" />
<title>书画市场 - 密码修改</title>
<link href="{[$DIR]}css/style.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="static/js/jquery-1.7.js"></script>
</head>

<body>
{[include file="tpl/show/inc/top.html"]}
<div class="dqwz" style="border-bottom:1px solid #d5d5d5;">
     <a href="index.php" style="">首页</a>
     <span>&nbsp;</span>
     <a href="index.php?m=member&p=main" style="color:#999;">个人中心</a>
     <span>&nbsp;</span>
     <a href="###" style="color:#999;">密码修改</a>
</div>

<form name="form1" id="form1" method="post" action="index.php?m=safety&c=updatePass&p=main">
<!---密码修改 kaishi--->
<div>
    <div class="zc_form" style="margin-bottom:10px;">
         <ul><li class="zd1c">旧密码</li><li class="zd2c">
         <input class="input_zck" name="pass_old" type="password" placeholder="请填写您的旧密码" id="pass_old" onChange="checkPassOld(this.value);">
         </li></ul>
         <ul><li class="zd1c">新密码</li><li class="zd2c"><input class="input_zck" name="pass" placeholder="新密码不得与旧密码一致" type="password" id="pass"></li></ul>
         <ul><li class="zd1c">新密码确认</li><li class="zd2c"><input class="input_zck" name="pass1" placeholder="请再次输入您的新密码" type="password" id="pass1"></li></ul>
    </div>
    
    <div class="tijiao_but"><a href="javascript:checkFrom();" style="width:100%;">提交</a></div>

</div>
<!---密码修改 jieshu--->
</form>
<div style="height:10px;"></div>
<script>
//检测老密码是否正确
function checkPassOld(pass){
	$.get('index.php?m=safety&c=ajaxCheckOldPass&p=main&pass=' + pass,function(status){
			if(!parseInt(status)){
				alert('旧密码输入错误!');
				$('#pass').attr('readonly',true);
				$('#pass1').attr('readonly',true);
			}else{
				$('#pass').attr('readonly',false);
				$('#pass1').attr('readonly',false);				
			}
	})
}

//执行表单检测并提交
function checkFrom(){
	var pass = $('#pass').val();
	var pass1 = $('#pass1').val();
	if(pass=='' || pass1==''){
		alert('新密码不能为空!');
		return false;	
	}
	if(pass!=pass1){
		alert('两次输入的密码不一致!');
		return false;			
	}
	$('#form1').submit();
}
</script>
</body>
</html>
