<!--{template header,admin}-->
<div id="append">
</div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <h3>问答管理</h3>
            <ul class="tab-base">
                <li>
                    <a href="index.php?admin_question/default{$setting['seo_suffix']}">
                        <span>问题管理</span>
                    </a>
                    <a class="current">
                        <span>回答管理</span>
                    </a>
                    <a href="index.php?admin_question/examine{$setting['seo_suffix']}">
                        <span>问题审核</span>
                    </a>
                    <a href="index.php?admin_question/examineanswer{$setting['seo_suffix']}">
                        <span>回答审核</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
	<div class="fixed-empty"></div>
    <!--{if isset($message)}-->
    <!--{eval $type=isset($type)?$type:'correctmsg'; }-->
    <table cellspacing="1" cellpadding="4" width="100%" align="center" class="tableborder">
        <tr>
            <td class="{$type}">{$message}</td>
        </tr>
    </table>
    <!--{/if}-->
	<table class="table tb-type2" id="prompt">
        <tbody>
        <tr class="space odd" style="background: rgb(255, 255, 255) none repeat scroll 0% 0%;">
            <th class="nobg" colspan="12"><div class="title"><h5>设置说明</h5><span class="arrow"></span></div></th>
        </tr>
        <tr class="odd" style="background: rgb(255, 255, 255) none repeat scroll 0% 0%; display: table-row;">
            <td>
                <ul>
                    <li>可以通过如下搜索条件，检索问题回答</li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
    <form action="index.php?admin_question/searchanswer{$setting['seo_suffix']}" method="post" name="formSearch">
        <table class="table">
            <tbody>
            <tr>
                <td width="10%" class="altbg2">标题:<br>
				<input class="txt" type="text" name="srchtitle" value="{$srchtitle}" data-toggle="tooltip" data-placement="top"  title="" data-original-title="关键词就行，没必要精确输入"/>
				</td>
                <td width="10%" class="altbg2">回答者:<br>
				<input class="txt" type="text" name="srchauthor" value="{$srchauthor}"/>
				</td>
                <td width="10%" class="altbg2">关键字: <br>
				<input class="txt" type="text" name="keywords" size="30" maxlength="50" value="{$keywords}"/></td>
                <td width="10%">
                    回答日期:
                    <div class="input-group date form-date" data-date="" data-date-format="dd MM yyyy"
                         data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                        <input class="txt" type="text" size="16" id="timestart" name="srchdatestart" value="{$srchdatestart}" readonly="">
                        <span class="input-group-addon"><span class="icon-remove"></span></span>
                        <span class="input-group-addon"><span class="icon-calendar"></span></span>
                    </div>
                </td>
                <td width="10%">
                    到
                    <div class="input-group date form-date" data-date="" data-date-format="dd MM yyyy"
                         data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
                        <input class="txt" type="text" size="16" id="timeend" name="srchdateend" value="{$srchdateend}" readonly="">
                        <span class="input-group-addon"><span class="icon-remove"></span></span>
                        <span class="input-group-addon"><span class="icon-calendar"></span></span>
                    </div>
                </td>
                <td class="altbg2"><br><a href="javascript:document.formSearch.submit()" class="btn-search" title="搜索"><span>&nbsp;</span></a></td>
            </tr>
            </tbody>
        </table>
    </form>
    [共 <font color="green">{$rownum}</font> 条回答]
    <form name="answerlist" method="post">
        <table class="table tb-type2">
            <tr class="header">
                <td width="4%"><input class="checkbox" value="chkall" id="chkall" onclick="checkall('aid[]')"
                                      type="checkbox" name="chkall"><label for="chkall">全选</label></td>
				<td width="3%">ID</td>
                <td width="40%">回答内容</td>
                <td width="10%">回答人</td>
                <td width="13%">回答时间</td>
                <td width="14%">IP</td>
                <td width="10%">支持/反对</td>
                <td width="6%">已采纳</td>
            </tr>
            <!--{if isset($answerlist)} {loop $answerlist $answer}-->
            <tr>
                <!--{eval $content=htmlspecialchars($answer['content']);}-->
                <td class="altbg2"><input class="checkbox" type="checkbox" value="{$answer['id']}" name="aid[]"></td>
				<td>{$answer['id']}</td>
                <td class="altbg2" id="title_{$answer['id']}">
                    <a href="index.php?question/view/{$answer['qid']}{$setting['seo_suffix']}" target="_blank"><strong>{$answer['title']}</strong></a>
                    <div style="WIDTH:550px;OVERFLOW-Y:auto;height:100px"> {$answer['content']}</div>
                    {$answer['comment_num']}条评论&nbsp;&nbsp;&nbsp;&nbsp;
                    {if $answer['comment_num']>0}<a href="javascript:void(0)" class="comment_show" answer_id="{$answer['id']}">展开</a>{/if}
                </td>
                <td class="altbg2"><a href="index.php?user/space/{$answer['authorid']}{$setting['seo_suffix']}" target="_blank">{$answer['author']}</a></td>
                <td class="altbg2">{$answer['time']}</td>
                <td class="altbg2">{$answer['ip']}</td>
                <td class="altbg2">{$answer['support']}/{$answer['against']}</td>
                <td class="altbg2">{if $answer['adopttime']}<img title="已被采纳为最佳答案" src="{SITE_URL}css/admin/icn_2.gif">{else}否{/if}
                </td>
            </tr>
            <!--{/loop} {/if}-->
            <!--{if $departstr}-->
            <tr class="smalltxt">
                <td class="altbg2" colspan="6">
                    <div class="scott">{$departstr}</div>
                </td>
            </tr>
            <!--{/if}-->
            <tr>
                <td colspan="6" class="altbg1"><a href="javascript:void(0)" onclick="deleteanswer();" class="btnn" title=""><span>删除</span></a></td>
            </tr>
        </table>
    </form>
</div>
<link href="{SITE_URL}css/dist/lib/datetimepicker/datetimepicker.min.css" rel="stylesheet">
<script src="{SITE_URL}css/dist/lib/datetimepicker/datetimepicker.min.js"></script>
<script type="text/javascript">
    $(".form-date").datetimepicker(
            {
                language: "zh-CN",
                weekStart: 1,
                todayBtn: 1,
                autoclose: 1,
                todayHighlight: 1,
                startView: 2,
                minView: 2,
                forceParse: 0,
                format: "yyyy-mm-dd"
            });
    function deleteanswer() {
        if ($("input[name='aid[]']:checked").length == 0) {
            alert('你没有选择任何回答');
            return false;
        }
        if (confirm('确定删除回答?') == false) {
            return false;
        }
        document.answerlist.action = "index.php?admin_question/deleteanswer{$setting['seo_suffix']}";
        document.answerlist.submit();
    }
    $(document).on('click', '.comment_show', function () {
        var this_obj = $(this);
        var comment_id = this_obj.attr('answer_id');
        $.ajax({
            url: 'index.php?admin_question/commentShow',
            type: 'GET',
            data: 'id=' + comment_id,
            success: function (msg) {
                if (msg == 0) {
                    alert('评论未找到！');
                } else {
                    var comment_list = eval(msg);
                    var len = comment_list.length;
                    var str = '<table>';
                    for (var i = 0; i < len; i++) {
                        str += '<tr id="comment_list_' + comment_list[i]['id'] + '"><td>' + comment_list[i]['content'] + '</td>';
                        str += '<td><a href="index.php?user/space/' + comment_list[i]['authorid'] + '{$setting[seo_suffix]}" target="_blank">' + comment_list[i]['author'] + '</a></td>';
                        str += '<td>' + comment_list[i]['time'] + '</td>';
                        str += '<td><a href="javascript:void(0)" onclick="ck_commentDel(' + comment_list[i]['id'] + ')">删除</a></td></tr>';
                    }
                    str += '</table>';
                    this_obj.after(str);
                    this_obj.html('收起');
                    this_obj.attr('class', 'comment_hide');
                }
            }
        })
    });
    $(document).on('click', '.comment_hide', function () {
        var this_obj = $(this);
        this_obj.next().remove();
        this_obj.html('展开');
        this_obj.attr('class', 'comment_show');
    });
    function ck_commentDel(id) {
        $.ajax({
            url: 'index.php?admin_question/commentDel',
            type: 'GET',
            data: 'comment_id=' + id,
            success: function (msg) {
                if (msg == 0) {
                    alert('删除失败');
                } else {
                    $('#comment_list_' + id).remove();
                }
            }
        })
    }
</script>
<!--{template footer,admin}-->


