@charset "utf-8";
/*reset start*/
html,body,h1,h2,h3,h4,h5,h6,div,dl,dt,dd,ul,ol,li,p,blockquote,pre,hr,figure,table,caption,th,td,form,fieldset,legend,input,button,textarea,menu{margin:0;padding:0;}
html,body,form,fieldset,p,div,h1,h2,h3,h4,h5,h6{-webkit-text-size-adjust:none}
html{font-size:16px}
body{font-family:"microsoft yahei",arial,sans-serif; max-width: 740px; margin: 0 auto;}
header,footer,section,article,aside,nav,hgroup,address,figure,figcaption,menu,details{display:block;}
table{border-collapse:collapse;border-spacing:0;}
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0; vertical-align: top;}
i,cite,em,var,address,dfn{font-style:normal;}
[hidefocus],summary{outline:0;}
li{list-style:none;}
h1,h2,h3,h4,h5,h6,small{font-size:100%;font-style: normal;font-weight: normal;}
sup,sub{font-size:83%;}
pre,code,kbd,samp{font-family:inherit;}
q:before,q:after{content:none;}
textarea{overflow:auto;resize:none;}
label,summary{cursor:default;}
a,button{cursor:pointer;}
del,ins,u,s,a,a:hover{text-decoration:none;}
body,textarea,input,button,select,keygen,legend{color:#333;outline:0;}
body *{-webkit-tap-highlight-color:rgba(0,0,0,0);tap-highlight-color:rgba(0,0,0,0)}
.clearfix:after{content:".";display:block;overflow:hidden;height:0;clear:both;visibility:hidden;}
* html .clearfix{height:1%;}
input,textarea {outline: none; -webkit-appearance:none;}
.clearOver{overflow: hidden; text-overflow:ellipsis; white-space: nowrap;}
nput[type="button"], input[type="submit"], input[type="reset"] {
-webkit-appearance: none;
}
textarea {  -webkit-appearance: none;}   
a:active,a:hover {
	-webkit-transition: .2s;
	transition: .2s;
}

.silver-bar img,
.btn-play img {
	width: 100%;
}
.btn-play {
	position: fixed;
	bottom: 0;
	width: 100%;
}
.mt {
	margin-top: 14px;
}

.tabs{
	width: 100%;
	margin: 0 auto;
	margin-bottom: 40px;
	padding: 0 1px;
}
.tabs ul.tabsnav {
	border-bottom: 1px #CC0000 solid;
}
.tabs ul.tabsnav li:first-child {
	border-left: 0;
}
.tabs ul.tabsnav li {
	text-align: center;
	float: left;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.tabs ul.tabsnav li a {
	display: block;
	color: #555;
	margin: 10px 0;
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
}
.tabs ul.tabsnav li:first-child a {
	border-right: 1px #999 solid;
}


#tabs_container {
	overflow: hidden;
	position: relative;
	zoom: 1;
	padding: 0 2px;
}

#tabs_container div {
	width: 99%;
	float: left;
	zoom: 1;
}

.transition {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;

	-webkit-transition-delay: .3s;
	-moz-transition-delay: .3s;
	-o-transition-delay: .3s;
	-ms-transition-delay: .3s;
	transition-delay: .3s;
}

.make_transist {
	-webkit-transition: all .3s ease-in-out;
	-moz-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	-ms-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.hidescale {
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	-o-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	filter: alpha(opacity=0);
	opacity: 0;
}

.showscale {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
	z-index: 9;

	-webkit-transition-delay: .3s;
	-moz-transition-delay: .3s;
	-o-transition-delay: .3s;
	-ms-transition-delay: .3s;
	transition-delay: .3s;
}

.hideleft {
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
}

.showleft {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-o-transform: translateX(0px);
	-ms-transform: translateX(0px);
	transform: translateX(0px);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;

	-webkit-transition-delay: .3s;
	-moz-transition-delay: .3s;
	-o-transition-delay: .3s;
	-ms-transition-delay: .3s;
	transition-delay: .3s;
}

.hidescaleup {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
}

.showscaleup {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;

	-webkit-transition-delay: .3s;
	-moz-transition-delay: .3s;
	-o-transition-delay: .3s;
	-ms-transition-delay: .3s;
	transition-delay: .3s;
}

.hideflip {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;

	-webkit-transform: rotatey(-90deg) scale(1.1);
	-moz-transform: rotatey(-90deg) scale(1.1);
	-o-transform: rotatey(-90deg) scale(1.1);
	-ms-transform: rotatey(-90deg) scale(1.1);
	transform: rotatey(-90deg) scale(1.1);

	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

.showflip {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;

	-webkit-transition-delay: .3s;
	-moz-transition-delay: .3s;
	-o-transition-delay: .3s;
	-ms-transition-delay: .3s;
	transition-delay: .3s;

	-webkit-transform: rotatey(0deg) scale(1);
	-moz-transform: rotatey(0deg) scale(1);
	-o-transform: rotatey(0deg) scale(1);
	-ms-transform: rotatey(0deg) scale(1);
	transform: rotatey(0deg) scale(1);

	-webkit-transform-origin: 50% 50%;
	-moz-transform-origin: 50% 50%;
	-o-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

 
/*btn-participation*/
.btn-participation {
	width: 100%;
	position: fixed;
	bottom: 0;
	height: 40px;
	background: url(../images/participation.jpg) no-repeat;
	background-size: 100%;
	text-align: center;
	line-height: 40px;
	font-weight: bold;
	color: #fff;
	font-size: 18px;
	z-index: 22;
}


.formbox [class*=item] {
}
#vprov {
	margin-left: 0;
}
.formbox .item-select select {
	font-size: 1em;
	width: 32%;
	/* margin-left: 3.3%; */
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 8px 10px;
	border: 1px #999 solid;
}
.formbox .item input,
.formbox .item textarea {
	font-size: 1em;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 8px 10px;
	border: 1px #999 solid;
}
.formbox .item-yz input.l,
.formbox .item-yz input.r  {
	float: left;
	width: 48%;
	font-size: 1em;
	margin-right: 4%;
	padding: 8px 10px;
	border: 1px #999 solid;
}
.formbox .item-yz input.r {
    margin-right: 0;
    background: #f3f3f3;
    color: #cc0000;
}
.formbox .item-yz input {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

.formbox .item textarea {
	padding: 6px 10px;
	line-height: 18px;
	height: 100px;
}
 

.coloured {
	background: url(../images/tc-stamp.png) no-repeat center top;
}


.hide_box {
	/* position: fixed; */
	/* top: 120px; */
	/* left: 50%; */
	/* margin-left: -400px; */
	/* width: 100%; */
	/* height: 553px; */
	/* overflow: hidden; */
}
.hide_box .close-stamp {
	width: 36px;
	height: 36px;
	cursor: pointer;
}
.hide_box .formbox {
    max-width: 650px;
    margin: 0 auto;
}
.hide_box .formbox-title {
	border-bottom: 1px #f8e5c3 solid;
	overflow: hidden;
	height: 36px;
	margin: 10px 6% 20px;
}

.hide_box .formbox-title h2 {
	font-size: 18px;
	color: #f8e5c3;
	line-height: 36px;
}
.ul-inof .item {
	margin-bottom: 14px;
	clear: both;
	padding: 0 6%;
	overflow: hidden;
}
.ul-inof label {
	width: 24%;
	display: block;
	float: left;
	font-size: 14px;
	text-align: right;
	margin-right: 6px;
	line-height: 36px;
	color: #f8e5c3;
}
.ul-inof input.valput1,
.ul-inof input.valput {
	width: 73%;
	height: 36px;
	background: #f8e5c3;
	padding: 0 10px;
	border: 1px #dadada solid;
}
.ul-inof input.valput1 {
	width: 39%;
	float: left;
}
.ul-inof input.valput2 {
	width: 31%;
	height: 36px;
	float: left;
	margin-left: 7px;
	font-size: 12px;
	border-radius: 6px;
	background: #734405;
	border: 0;
	color: #f8e5c3;
	cursor: pointer;
	font-family: "microsoft yahei";
}
.ul-inof .btn-go {
	overflow: hidden;
	margin: 18px auto;
	text-align: center;
}
.ul-inof .btn-go input {
	width: 68%;
	height: 40px;
	border: 0;
	font-size: 20px;
	cursor: pointer;
	border-radius: 10px;
	background: #822404;
	color: #fff;
	font-family: "microsoft yahei";
}
.ul-inof .btn-go p {
	font-size: 16px;
	color: #f8e5c3;
	margin-top: 20px;
}
.ul-inof .btn-go p a {
	color: #822404;
	font-size: 18px;
	text-align: center;
	margin-left: 6px;
	text-decoration: underline;
}

.demo-register {
	display: none;
}
.stamp-box {
	position: relative;
}
.icon-hand {
	position: absolute;
	top: -15px;
	left: 80%;
	margin-left: -17px;
	display: block;
	background: url(../images/icon-hand.png) no-repeat center top;
	width: 34px;
	height: 34px;
	background-size: 34px;
	-webkit-animation: test 1s linear infinite;
	        animation: test 1s linear infinite;
}
@-webkit-keyframes test{
	0%{
		-webkit-transform: scale(0.8,0.8);
		        transform: scale(0.8,0.8);
		opacity: 1;
	}
	25%{
		-webkit-transform: scale(1,1);
		        transform: scale(1,1);
		opacity: 0.8;
	}
	100%{
		-webkit-transform: scale(0.8,0.8);
		        transform: scale(0.8,0.8);
		opacity: 1;
	}
}
@keyframes test{
	0%{
		-webkit-transform: scale(0.8,0.8);
		        transform: scale(0.8,0.8);
		opacity: 1;
	}
	25%{
		-webkit-transform: scale(1,1);
		        transform: scale(1,1);
		opacity: 0.8;
	}
	100%{
		-webkit-transform: scale(0.8,0.8);
		        transform: scale(0.8,0.8);
		opacity: 1;
	}
}
.stamp-shop {
	background: #edd6c6 url(../images/onlybj.jpg) center top no-repeat;
	overflow: hidden;
	padding: 0 4% 10px;
}
.stamp-shop2 {
	background: #390202;
	overflow: hidden;
	padding: 0 4% 10px;
}
.stamp-list {
	overflow: hidden;
}
.stamp-list li:nth-child(2n+1) {
	margin-left: 0;
}
.stamp-list li {
    width: 49%;
    margin-bottom: 1%;
    margin-left: 1%;
    float: left;
    z-index: 0;
}
.stamp-list li .img-box {
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.stamp-list li .img-box .img {
	position: relative;
	z-index: 1;
	padding-top: 100%;
	display: block;
	background-position: 50% 50% !important;
	background-color: #f0f0f0 !important;
	background-repeat: no-repeat !important;
	-webkit-background-size: cover;
	background-size: cover !important;
}
.stamp-list li .txt-box {
	background: #c1aa94;
	padding-bottom: 10px;
}
.stamp-list li .txt-box p {
	font-size: 12px;
	color: #403313;
	padding: 2px 10px 0;
	line-height: 24px;
	height: 48px;
	margin-bottom: 6px;
	overflow: hidden;
}
.stamp-list li .txt-box span {
	padding: 0 10px;
	display: block;
	overflow: hidden;
}
.stamp-list li .txt-box span strong {
	color: #960516;
	font-size: 16px;
	line-height: 20px;
	float: left;
	display: block;
	font-weight: bold;
}
.stamp-list li .txt-box span i {
	display: block;
	font-size: 12px;
	color: #960516;
	/*float: right;*/
	text-align: center;
	line-height: 18px;
	border: 1px #960516 solid;
	border-radius: 6px;
	padding: 0 5px;
}